<script lang="ts" setup>
import { useImportMaterialStore } from '@/stores/importMaterial'
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import ImportMaterialDetailsDialog from '@/views/ImportMaterial/ImportMaterialDetailsDialog.vue'
import { useEmployeeStore } from '@/stores/employee'
import { useBranchStore } from '@/stores/branch'
import { useCheckStockStore } from '@/stores/checkStock'
import branchStockService from '@/services/branchStock'
import { useMaterialStore } from '@/stores/material'
import branchStock from '@/services/branchStock'

const importMaterialStore = useImportMaterialStore()
const form = ref(false)
function onSubmit() {}
const refForm = ref<VForm | null>(null)
const checkStockStore = useCheckStockStore()
const materialStore = useMaterialStore()

const detailHeaders = [
  {
    title: 'No.',
    key: 'no',
    value: 'importMaterialDetailId'
  },
  {
    title: 'Material',
    key: 'material',
    value: 'material'
  },

  {
    title: 'Quantity',
    key: 'quantity',
    value: 'qty'
  },
  {
    title: 'Unit Price(THB)',
    key: 'unitPrice',
    value: 'unitPrice'
  },
  {
    title: 'Total Price(THB)',
    key: 'totalPrice',
    value: 'total'
  }
]

function closeDialog() {
  importMaterialStore.importMaterialDialog = false
  nextTick(() => {
    importMaterialStore.clearForm()
    importMaterialStore.editingimportDetails = []
    importMaterialStore.detailID = 0
    checkStockStore.brachStockFoundBranches = []
  })
}

async function save() {
  try {
      const { valid } = await refForm.value!.validate()
      if (!valid) return
      checkStockStore.brachStockFoundBranches.forEach((branchStock) => {
        const foundDetail = importMaterialStore.editingimportDetails.find((detail) => detail.material.materialId === branchStock.material.materialId)
        if (foundDetail) {
          branchStock.qty += foundDetail.qty
          branchStockService.updateBranchStock(branchStock)
          console.log(foundDetail.qty)
        }
    })
    await importMaterialStore.saveImportMaterial()
    closeDialog()
  } catch (error) {
    alert('กรุณากรอกข้อมูลให้เสร็จสิ้นก่อนกดยืนยัน');
  }
}


function addDetailsDialog() {
  importMaterialStore.importMaterialDetailsDialog = true
}

function deleteDetail(detail: any) {
  const index = importMaterialStore.editedImportMaterial.importMaterialDetails.findIndex(
    (d: any) => d.id === detail.id
  )
  if (index !== -1) {
    importMaterialStore.editedImportMaterial.importMaterialDetails.splice(index, 1)
  }
}
const employeeStore = useEmployeeStore()
const branchStore = useBranchStore()
onMounted(() => {
  employeeStore.getEmployees()
  branchStore.getBranches()
})
</script>

<template>
  <!-- Put Edited Dialog -->
  <v-dialog v-model="importMaterialStore.importMaterialDialog" persistent width="1024">
    <v-card>
      <v-card-title style="background-color: rgb(255, 188, 63)">
        <span class="text-h5">Material Import</span>
      </v-card-title>

      <v-card-text>
        <v-form ref="refForm" @submit.prevent="onSubmit">
          <v-container>
            <!-- dialog -->
            <v-row>
              <v-col cols="6">
                <v-select
                  v-model="importMaterialStore.selectedEmployee"
                  :items="employeeStore.employees.map((emp) => emp.name)"
                  label="Employee"
                  allow-overflow
                >
                </v-select>
              </v-col>
              
              <v-col cols="6">
                <v-text-field
                  v-model="importMaterialStore.editingimportDetails.length"
                  :readonly="true"
                  class="mb-2"
                  label="Total list"
                  type="number"
                >
                </v-text-field>
              </v-col>
            </v-row>
            <!-- details table -->
            <v-row>
              <v-data-table-virtual
                :headers="detailHeaders"
                :items="importMaterialStore.editingimportDetails"
              >
                <template v-slot:top>
                  <v-toolbar flat style="background-color: whitesmoke">
                    <v-toolbar-title>Materials</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="white"
                      style="background-color: rgb(255, 182, 55)"
                      @click="addDetailsDialog"
                    >
                      <v-icon left>mdi-truck-plus</v-icon>
                      Import Material
                    </v-btn>
                  </v-toolbar>
                </template>

                <template v-slot:[`item.material`]="{ item }">
                  <td>{{ item.material.name }}</td>
                </template>

                <template v-slot:[`item.actions`]="{ item }">
                  <v-icon size="small" @click="deleteDetail(item)"> mdi-delete </v-icon>
                </template>

                <template v-slot:no-data> No detail available </template>
              </v-data-table-virtual>
            </v-row>
          </v-container>
        </v-form>
        <small>*Indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
        <v-btn color="orange" variant="text" @click="save()"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <ImportMaterialDetailsDialog></ImportMaterialDetailsDialog>
</template>
