<script lang="ts" setup>
import { useBranchStockStore } from '@/stores/branchStock'
import { useImportMaterialStore } from '@/stores/importMaterial'
import { useMaterialStore } from '@/stores/material'
import type { ImportMaterialDetail } from '@/types/ImportMaterialDetail'
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'

const importMaterialStore = useImportMaterialStore()
const form = ref(false)
const loading = ref(false)
function onSubmit() {}
const refForm = ref<VForm | null>(null)
let editedIndex = -1
const materialStore = useMaterialStore()
const branchStockStore = useBranchStockStore()
const stringQty = ref<string>('')

const initialImportDetail: ImportMaterialDetail = {
  importMaterialDetailId: -1,
  importMaterial: importMaterialStore.initialImportMaterial,
  material: materialStore.initialMaterial,
  qty: 0,
  unitPrice: 0,
  total: 0,
  branchStock: branchStockStore.initialBranchStock
}

const editedImportDetail = ref<ImportMaterialDetail>(
  JSON.parse(JSON.stringify(initialImportDetail))
)

function closeDialog() {
  importMaterialStore.importMaterialDetailsDialog = false
  nextTick(() => {
    editedImportDetail.value = Object.assign({}, initialImportDetail)
    stringQty.value = ''
    importMaterialStore.clearDetailForm()
    editedIndex = -1
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  const foundMaterial = materialStore.Materials.find(
    (material) => material.name === importMaterialStore.selectedMaterial
  )
  editedImportDetail.value.importMaterialDetailId = importMaterialStore.detailID + 1
  editedImportDetail.value.importMaterial = importMaterialStore.editedImportMaterial
  editedImportDetail.value.qty = parseInt(stringQty.value)
  if (foundMaterial !== undefined) {
    editedImportDetail.value.material = foundMaterial
    editedImportDetail.value.unitPrice = foundMaterial.price
    editedImportDetail.value.total = foundMaterial.price * editedImportDetail.value.qty
  } else {
    console.log('error')
  }
  editedImportDetail.value.branchStock = branchStockStore.initialBranchStock
  importMaterialStore.editingimportDetails.push(editedImportDetail.value)
  importMaterialStore.detailID += 1
  closeDialog()
}

onMounted(() => {
  materialStore.getMaterials()
  branchStockStore.getBranchStocks()
})
</script>
<template>
  <!-- ADD Dialog -->
  <v-dialog v-model="importMaterialStore.importMaterialDetailsDialog" persistent width="1024">
    <v-card>
      <v-card-title style="background-color: rgb(255, 188, 63)">
        <span class="text-h5">Material Import</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
          <v-container>
            <v-row>
              <v-col cols="6">
                <v-select
                  v-model="importMaterialStore.selectedMaterial"
                  :items="materialStore.Materials.map((material) => material.name)"
                  label="Material"
                  allow-overflow
                >
                </v-select>
              </v-col>

              <v-col cols="6">
                <v-text-field
                  v-model="stringQty"
                  :readonly="loading"
                  :rules="[(v: any) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Quantity"
                  type="number"
                >
                </v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*Indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
        <v-btn color="orange" variant="text" @click="save()"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
