<script lang="ts" setup>
import { useEmployeeStore } from '@/stores/employee'
import type { Salary } from '@/types/Salary'
import { computed, nextTick, onMounted, ref, watch } from 'vue'
import type { VForm } from 'vuetify/components'
import checkInOutService from '@/services/checkInOut'
import { useSalaryStore } from '@/stores/salary'
import employeeService from '@/services/employee'
import type { Employee } from '@/types/Employee'
import type { CheckInOut } from '@/types/CheckInOut'
import { useAuthStore } from '@/stores/auth'

const headers = [
  {
    text: 'No.',
    value: 'no'
  },
  {
    text: 'Employee',
    value: 'employee'
  },
  { text: 'Branch', value: 'branch' },
  {
    text: 'checkIn',
    value: 'checkIn'
  },
  {
    text: 'checkOut',
    value: 'checkOut'
  },
  {
    text: 'timework',
    value: 'timework'
  },
  {
    text: 'status',
    value: 'status'
  }
]
const salaryStore = useSalaryStore()
const emps = ref<Employee[]>([])

onMounted(async () => {
  const res = await employeeService.getEmployees()
  emps.value = res.data
  const currentEmp = ref<Employee>()
  currentEmp.value = await authStore.getCurrentUser()
  if (currentEmp.value.roles[0].name !== 'Owner') {
    emps.value = emps.value.filter(
      (item) => item.branch[0].name === currentEmp.value?.branch[0].name
    )
  }
})

const empName = ref<string>()
const selected = ref<string[]>([])
const onTable = ref<CheckInOut[]>([])

watch(empName, async (newVal) => {
  if (newVal) {
    onTable.value = []
    const res = await checkInOutService.getAll()
    const chkios = ref<CheckInOut[]>([])

    chkios.value = res.data

    chkios.value = chkios.value.filter((item) => item.used !== 1)
    for (const item of chkios.value) {
      if (item.employee?.name === empName.value) {
        onTable.value.push(item)
      }
    }
    console.log(onTable.value)
  }
})

const closeDialog = () => {
  salaryStore.createSalaryDialog = false
  salaryStore.clear()
}
const authStore = useAuthStore()
const save = () => {
  for (const item of selected.value) {
    const chkIO = ref<CheckInOut>({
      checkIn: '',
      used: 0
    })
    chkIO.value.checkInOutId = parseInt(item)
    salaryStore.initialSalary.checkinout.push(chkIO.value)
  }

  salaryStore.initialSalary.branch = authStore.getCurrentUser().branch[0]
  salaryStore.initialSalary.salaryCreate = salaryStore.formatTime(new Date())
  salaryStore.initialSalary.employee = emps.value.filter((item) => item.name === empName.value)[0]
  console.log(salaryStore.initialSalary.checkinout)
  salaryStore.createSalary()

  closeDialog()
  location.reload()
}
</script>
<template>
  <v-dialog v-model="salaryStore.createSalaryDialog" persistent width="1024">
    <v-card>
      <v-card-title style="background-color: rgb(255, 188, 63)">
        <span class="text-h5">Employee</span>
      </v-card-title>
      <v-card>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-select
                v-model="empName"
                label="Select"
                :items="emps.map((item) => item.name)"
                variant="outlined"
              ></v-select>
            </v-col>
          </v-row>
        </v-container>
      </v-card>

      <v-data-table
        :headers="headers"
        :items="onTable"
        v-model="selected"
        show-select
        item-value="checkInOutId"
      >
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>CheckInOut List</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
          </v-toolbar>
        </template>
        <template v-slot:[`item.employee`]="{ item }">
          {{ item.employee?.name }}
        </template>
        <template v-slot:[`item.timework`]="{ item }">
          {{ item.timeWork }}
        </template>

        <template v-slot:[`item.status`]="{ item }">
          {{ item.status }}
        </template>
      </v-data-table>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
        <v-btn color="orange" variant="text" @click="save()"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
