<script lang="ts" setup>
import { useAuthStore } from '@/stores/auth'
import { useEmployeeStore } from '@/stores/employee'
import { useSalaryStore } from '@/stores/salary'
import type { Salary } from '@/types/Salary'
import { onMounted } from 'vue'
import { ref } from 'vue'

const salaryStore = useSalaryStore()
const authStore = useAuthStore()
// const print = () => {
//   window.print()
//   location.reload()
// }
</script>
<template>
  <v-dialog v-model="salaryStore.hisSlip" persistent width="1024">
    <v-card>
      <v-card-text>
        <v-row>
          <v-col cols="12" class="d-flex justify-center">
            <!-- <v-img src="../../../public/img/logo/logo-no-background.png" width="150" height="150">
            </v-img -->
          </v-col>
          <v-col class="text-center" cols="12"
            ><v-card-title class="text-h5"> สลิปเงินเดือนย้อนหลัง </v-card-title></v-col
          >

          <v-col cols="6"
            >ชื่อ-นามสกุล : {{ salaryStore.showSalary.employee.name ?? 'ไม่เจอ' }}</v-col
          ><v-col cols="6"
            >รอบเงินเเดือน : {{ salaryStore.showSalary.salaryCreate ?? 'ไม่เจอ' }}</v-col
          >
          <!-- <v-col cols="6"
            >ตำแหน่ง : {{ salaryStore.showSalary.employee.roles[0].name ?? 'ไม่เจอ' }}</v-col
          >-->
          <v-col cols="6">วันที่ชำระ : {{ salaryStore.showSalary.salaryPay ?? 'ไม่เจอ' }}</v-col>
          <!-- <v-col cols="6">สาขา : {{ salaryStore.showSalary.branch.name }}</v-col -->
          ><v-col cols="6"
            >เลขบัญชี : {{ salaryStore.showSalary.employee.employeeId ?? 'ไม่เจอ' }}</v-col
          >
          <v-divider></v-divider>
          <v-container>
            <v-row>
              <v-col cols="12" v-if="salaryStore.showSalary.employee.salaryType === 'Full-Time'"
                >เงินเดือน : {{ salaryStore.showSalary.employee.salary }}</v-col
              >
              <v-col cols="12" v-if="salaryStore.showSalary.employee.salaryType === 'Full-Time'"
                >ยอดหัก :
                {{
                  salaryStore.showSalary.employee.salary ?? 0 - salaryStore.showSalary.salaryTotal
                }}</v-col
              >

              <v-col cols="12">เงินได้สุทธิ : {{ salaryStore.showSalary.salaryTotal }}</v-col>
            </v-row>
          </v-container> </v-row
        ><v-divider></v-divider>
        <v-row>
          <v-col cols="6">หมายเหตุ : </v-col>
          <v-col cols="6">ผู้จ่ายเงิน : {{ authStore.getCurrentUser().name }} </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="
            () => {
              salaryStore.hisSlip = false
            }
          "
        >
          เสร็จสิ้น
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
