<script lang="ts" setup>
import { onMounted, ref, watch } from 'vue'
import salaryService from '@/services/salary'
import branchService from '@/services/branch'
import { type Branch } from '@/types/Branch'
import { useSalaryStore } from '@/stores/salary'
import type { Salary } from '@/types/Salary'
import HistorySlip from './HistorySlip.vue'
import type { Employee } from '@/types/Employee'
import { useAuthStore } from '@/stores/auth'
import employeeService from '@/services/employee'
const headers = [
  {
    title: 'No.'
  },
  { title: 'Branch', sortable: true },
  {
    title: 'Employee',
    sortable: true
  },
  {
    title: 'Salary Create'
  },
  {
    title: 'Salary Pay'
  },
  {
    title: 'Salary Total'
  },

  { title: 'Actions' }
]

const branches = ref<Branch[]>([])
const currentEmp = ref<Employee>()
const authStore = useAuthStore()
onMounted(async () => {
  currentEmp.value = await authStore.getCurrentUser()
  branches.value = currentEmp.value.branch
  const res2 = await salaryService.getsalaries()
  salaryStore.salaries = await res2.data
  salaryStore.salaries.sort((a, b) => {
    const salaryIdA = a.salaryId ?? 0
    const salaryIdB = b.salaryId ?? 0
    return salaryIdB - salaryIdA
  })
  if (currentEmp.value.roles[0].name !== 'Owner') {
    salaries.value = salaryStore.salaries.filter(
      (item) => item.employee.name === currentEmp.value?.name
    )
  } else {
    salaries.value = salaryStore.salaries
  }
  salaries.value = salaryStore.salaries
  instanceSalaries.value = salaries.value
  brSalar.value = salaries.value
  const res = await employeeService.getEmployees()
  employee.value = res.data
})

const salaries = ref<Salary[]>([])
const instanceSalaries = ref<Salary[]>([])
const brSalar = ref<Salary[]>([])
const salaryStore = useSalaryStore()

const year = ref('')
const month = ref('')
const empName = ref('ALL')
const seeHistory = (item: Salary) => {
  // console.log(item)
  // salaryStore.showSalary = item
  // console.log(salaryStore.showSalary)
  salaryStore.seeHis(item)
}

watch(empName, (newVal) => {
  if (newVal !== 'ALL') {
    brActive()
  } else {
    salaries.value = instanceSalaries.value
  }
  year.value = ''
})

const brActive = () => {
  salaries.value = instanceSalaries.value.filter((item) => item.employee.name === empName.value)
  brSalar.value = salaries.value
}
const getFromYear = async () => {
  salaries.value = brSalar.value.filter(
    (item) => item.salaryCreate.substring(6, 10) === year.value.toString()
  )
}
const getFromMonth = async () => {
  console.log(monthNumber.value + '/' + year.value)
  for (const i of brSalar.value) {
    console.log(i.salaryCreate.substring(3, 10))
  }
  salaries.value = brSalar.value.filter(
    (item) => item.salaryCreate.substring(3, 10) === monthNumber.value + '/' + year.value
  )
}

watch(year, (newVal) => {
  if (newVal !== '') {
    getFromYear()
    month.value = ''
  }
})
watch(month, (newVal) => {
  if (newVal !== '') {
    switch (newVal) {
      case 'January':
        monthNumber.value = '01'
        break
      case 'February':
        monthNumber.value = '02'
        break
      case 'March':
        monthNumber.value = '03'
        break
      case 'April':
        monthNumber.value = '04'
        break
      case 'May':
        monthNumber.value = '05'
        break
      case 'June':
        monthNumber.value = '06'
        break
      case 'July':
        monthNumber.value = '07'
        break
      case 'August':
        monthNumber.value = '08'
        break
      case 'September':
        monthNumber.value = '09'
        break
      case 'October':
        monthNumber.value = '10'
        break
      case 'November':
        monthNumber.value = '11'
        break
      case 'December':
        monthNumber.value = '12'
        break
    }
    getFromMonth()
    date.value = ''
  }
})

const monthNumber = ref('')
const date = ref('')
const employee = ref<Employee[]>([])

const brName = ref<string>()
watch(brName, (newVal) => {
  if (newVal !== 'ALL') {
    salaries.value = salaries.value.filter((item) => item.branch.name === brName.value)
  } else {
    salaries.value = instanceSalaries.value
  }
})
</script>
<template>
  <div>
    <v-data-table :headers="headers" :items="salaries" show-expand>
      <template v-slot:top>
        <v-toolbar flat style="background-color: whitesmoke">
          <v-toolbar-title>Payment Slip History</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>

          <v-col cols="2">
            <v-card-text style="margin-top: 15px">
              <v-select
                density="comfortable"
                label="Month"
                v-model="month"
                v-if="year !== ''"
                allow-overflow
                :items="[
                  'January',
                  'February',
                  'March',
                  'April',
                  'May',
                  'June',
                  'July',
                  'August',
                  'September',
                  'October',
                  'November',
                  'December'
                ]"
              >
              </v-select>
            </v-card-text>
          </v-col>
          <v-col cols="2">
            <v-card-text style="margin-top: 15px">
              <v-select
                density="comfortable"
                label="Year"
                v-model="year"
                allow-overflow
                :items="['2024', '2023', '2022', '2021', '2020']"
              >
              </v-select>
            </v-card-text>
          </v-col>
          <v-col cols="2">
            <v-card-text style="margin-top: 15px"
              ><v-select
                density="comfortable"
                label="Employee"
                v-model="empName"
                allow-overflow
                :items="['ALL', ...employee.map((item) => item.name)]"
              >
              </v-select
            ></v-card-text> </v-col
          ><v-col cols="2">
            <v-card-text style="margin-top: 15px"
              ><v-select
                density="comfortable"
                label="Branch"
                v-model="brName"
                allow-overflow
                :items="['ALL', ...branches.map((item) => item.name)]"
              >
              </v-select
            ></v-card-text>
          </v-col>
        </v-toolbar>
      </template>

      <template v-slot:item="{ item, index }">
        <tr>
          <td>{{ index + 1 }}</td>
          <!-- <td>
            {{ item.branch.name ? item.branch.name : '' }}
          </td> -->
          <td>
            {{ item.employee?.name ? item.employee?.name : '' }}
          </td>
          <td>{{ item.branch.name }}</td>
          <td>{{ item.salaryCreate }}</td>
          <td>{{ item.salaryPay }}</td>
          <td>{{ item.salaryTotal }}</td>
          <td>{{ item.salaryStatus }}</td>
          <td v-if="item.salaryStatus === 'Paid'">
            <v-icon size="small" class="me-2" @click="seeHistory(item)">mdi-eye</v-icon>
          </td>
        </tr>
      </template>

      <template v-slot:no-data>
        <v-btn color="primary"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
  <HistorySlip></HistorySlip>
</template>
