<script lang="ts" setup>
import { nextTick, onMounted, ref } from 'vue'
// import type { VForm } from 'vuetify/components'
import type { Salary } from '@/types/Salary'
import { useSalaryStore } from '@/stores/salary'
import { useEmployeeStore } from '@/stores/employee'
import CreateSalaryDialog from './CreateSalaryDialog.vue'
import SlipDialog from './SlipDialog.vue'
import salaryService from '@/services/salary'
import type { Employee } from '@/types/Employee'
import { useAuthStore } from '@/stores/auth'

const salaryStore = useSalaryStore()
const employeeStore = useEmployeeStore()

const headers = [
  {
    title: 'No'
  },
  {
    title: 'Employee Name'
  },
  // {
  //   title: 'Branch'
  // },
  {
    title: 'Salary Create'
  },
  {
    title: 'Salary Pay'
  },
  {
    title: 'Salary Total'
  },
  {
    title: 'Salary Status'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]

const dialog = ref(false)
function showDialog() {
  salaryStore.createSalaryDialog = true
}
const dialogDelete = ref(false)
const editedIndex = ref(0)
const Salaries = ref<Salary[]>([])

function closeDelete() {
  dialogDelete.value = false
  location.reload()
}

function deleteItemConfirm() {
  if (editedIndex.value > -1 || editedIndex.value === undefined) {
    salaryService.delsalary(pointToDel.value)
    // console.log(pointToDel.value.salaryId)

    closeDelete()
  }
}

const pointToDel = ref<Salary>({
  checkinout: [],
  employee: {
    employeeId: undefined,
    name: '',
    email: '',
    password: '',
    roles: [],
    gender: '',
    salaryType: '',
    salary: undefined,
    phone: '',
    wagePerHour: 0,
    branch: []
  },
  salaryCreate: '',
  salaryPay: '',
  salaryTotal: 0,
  salaryStatus: 'Not Paid',
  branch: {
    branchId: undefined,
    name: '',
    address: '',
    phone: ''
  }
})
function deleteItem(item: Salary) {
  editedIndex.value = Salaries.value.indexOf(item)
  // salaryStore.deleteSalary(item.salaryId)
  dialogDelete.value = true
  pointToDel.value = item
}
const authStore = useAuthStore()
async function initialize() {
  const res = await salaryService.getsalaries()
  console.log(res.data)
  salaryStore.salaries = res.data
  // เรียงลำดับ Salaries โดยใช้ salaryId จากมากไปน้อย
  salaryStore.salaries.sort((a, b) => {
    const salaryIdA = a.salaryId ?? 0
    const salaryIdB = b.salaryId ?? 0
    return salaryIdB - salaryIdA
  })
  Salaries.value = salaryStore.salaries
  const currentEmp = ref<Employee>()
  currentEmp.value = await authStore.getCurrentUser()
  // if (currentEmp.value.roles[0].name !== 'Owner') {
  //   Salaries.value = salaryStore.salaries.filter(
  //     (item) => item.branch.name === currentEmp.value?.branch[0].name
  //   )
  // }

  // console.log(Salaries.value)
}

onMounted(() => {
  initialize()

  employeeStore.getEmployees()
})

const generatePaymentSlip = (item: Salary) => {
  salaryStore.update(item)
}
</script>
<template>
  <v-data-table :headers="headers" :items="Salaries" show-expand>
    <template v-slot:top>
      <v-toolbar flat style="background-color: whitesmoke">
        <v-toolbar-title>Payment Salary</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>

        <v-btn color="white" style="background-color: rgb(255, 182, 55)" @click="showDialog"
          ><v-icon left>mdi-plus-box</v-icon> Create</v-btn
        >

        <v-dialog v-model="dialog" max-width="600">
          <template v-slot:activator> </template>
          <v-card prepend-icon="mdi-account" title="Employee">
            <v-card-text>
              <v-row dense>
                <v-col cols="12" md="4" sm="6"
                  ><v-select label="Select Employee" required></v-select>
                </v-col>
              </v-row>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn text="Close" variant="plain" @click="dialog = false"></v-btn>
              <v-btn color="primary" text="Save" variant="tonal" @click="dialog = false"></v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="orange" variant="text" @click="closeDelete">Cancel</v-btn>
              <v-btn color="orange" variant="text" @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>

    <template v-slot:item="{ item, index }">
      <tr>
        <td>{{ index + 1 }}</td>
        <td>
          {{ item.employee.name }}
        </td>
        <!-- <td>{{ item.branch.name }}</td> -->

        <td>{{ item.salaryCreate }}</td>
        <td>{{ item.salaryPay }}</td>
        <td>{{ item.salaryTotal }}</td>
        <td>{{ item.salaryStatus }}</td>

        <td>
          <!-- <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon> -->
          <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
        </td>
        <td>
          <v-btn
            @click="generatePaymentSlip(item)"
            size="small"
            color="green"
            :disabled="item.salaryStatus === 'Paid'"
          >
            Payment
          </v-btn>
        </td>
      </tr>
    </template>

    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize"> Reset </v-btn>
    </template>
  </v-data-table>
  <CreateSalaryDialog></CreateSalaryDialog>
  <SlipDialog></SlipDialog>
</template>
