<script lang="ts" setup>
import { useInvoiceStore } from '@/stores/invoice'
import type { InvoiceDetail } from '@/types/InvoiceDetail'
import { nextTick, ref } from 'vue'
import type { VForm } from 'vuetify/components'

const invoiceStore = useInvoiceStore()
const form = ref(false)
const loading = ref(false)

const closeDialog = () => {
  invoiceStore.invoiceDetailsDialog = false
}
const save = () => {
  invoiceStore.addDetail()
  invoiceStore.invoiceDetailsDialog = false
}
</script>
<template>
  <!-- Put Edited Dialog -->
  <v-dialog v-model="invoiceStore.invoiceDetailsDialog" persistent width="500" height="700">
    <v-card>
      <v-card-title style="background-color: rgb(255, 188, 63)">
        <span class="text-h5">Invoice</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="refForm" v-model="form">
          <v-container>
            <!-- dialog -->
            <v-row>
              <v-col cols="12" sm="12">
                <v-text-field
                  v-model="invoiceStore.invoiceDetail.item"
                  :readonly="loading"
                  :rules="[(v: any) => !!v || 'Field is required']"
                  class="mb-2"
                  label="Item"
                >
                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-text-field
                  v-model="invoiceStore.invoiceDetail.qty"
                  :readonly="loading"
                  :rules="[(v: any) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Quantity"
                  type="number"
                >
                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-text-field
                  v-model="invoiceStore.invoiceDetail.price"
                  :readonly="loading"
                  :rules="[(v: any) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Unit Price"
                  type="number"
                >
                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-text-field
                  v-model="invoiceStore.invoiceDetail.unit"
                  :readonly="loading"
                  class="mb-2"
                  label="Unit"
                >
                </v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*Indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
        <v-btn color="orange" variant="text" @click="save()"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
