<script lang="ts" setup>
import { useInvoiceStore } from '@/stores/invoice'
import type { Invoice } from '@/types/Invoice'
import { computed, nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import InvoiceDetailsDialog from '@/views/UtilityInvoice/InvoiceDetailsDialog.vue'
import type { Branch } from '@/types/Branch'
import type { Employee } from '@/types/Employee'
import branchService from '@/services/branch'
import employeeService from '@/services/employee'
import type { InvoiceDetail } from '@/types/InvoiceDetail'
import { useCustomerStore } from '@/stores/customer'
import { useEmployeeStore } from '@/stores/employee'
import { useAuthStore } from '@/stores/auth'

const invoiceStore = useInvoiceStore()
const form = ref(false)
const loading = ref(false)
function onSubmit() {}
const refForm = ref<VForm | null>(null)
let editedIndex = -1
const detailHeaders = [
  {
    title: 'No.',
    key: 'no',
    value: 'no'
  },
  {
    title: 'Item',
    key: 'item',
    value: 'item'
  },
  {
    title: 'Quantity',
    key: 'qty',
    value: 'qty'
  },
  {
    title: 'Unit Price(THB)',
    key: 'price',
    value: 'price'
  },
  {
    title: 'Total Price(THB)',
    key: 'total',
    value: 'total'
  },
  {
    title: 'Unit',
    key: 'unit',
    value: 'unit'
  },
  {
    title: 'Actions',
    key: 'actions',
    value: 'actions'
  }
]
import bracnhService from '@/services/branch'

const addDetail = () => {
  invoiceStore.invoiceDetailsDialog = true
}
const branches = ref<Branch[]>([])
const employees = ref<Employee[]>([])

const authStore = useAuthStore()
onMounted(async () => {
  const currentEmp = ref<Employee>()
  currentEmp.value = await authStore.getCurrentUser()

  // const res = await bracnhService.getBranchs()
  // const br = ref<Branch[]>([])
  // br.value = res.data
  // branches.value = br.value
  branches.value = currentEmp.value.branch
  invoiceStore.employeeName = authStore.getCurrentUser().name
})
const removeItem = (item: InvoiceDetail) => {
  const indexToRemove = invoiceStore.invoice.invoiceDetails.findIndex(
    (invoiceDetails) =>
      invoiceDetails.item === item.item &&
      invoiceDetails.price === item.price &&
      invoiceDetails.qty === item.qty &&
      invoiceDetails.total === item.total
  )
  invoiceStore.invoice.total -= item.total
  if (indexToRemove !== -1) {
    invoiceStore.invoice.invoiceDetails.splice(indexToRemove, 1)
  }
}

const closeDialog = () => {
  invoiceStore.invoiceDialog = false
  invoiceStore.clear()
}
const saveInvoice = () => {
  invoiceStore.addInvoice()
  invoiceStore.invoiceDialog = false
}
</script>

<template>
  <!-- Put Edited Dialog -->
  <v-dialog v-model="invoiceStore.invoiceDialog" persistent width="1024">
    <v-card>
      <v-card-title style="background-color: rgb(255, 188, 63)">
        <span class="text-h5">Utility Invoice</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
          <v-container>
            <!-- dialog -->
            <v-row>
              <v-col cols="12" sm="12" md="4">
                <v-select
                  v-model="invoiceStore.invoice.type"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  :items="['waterElectric', 'material', 'ค่าใช้จ่ายต่างๆ']"
                  label="Type"
                ></v-select>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-select
                  v-model="invoiceStore.branchName"
                  :readonly="loading"
                  :rules="[(v: any) => !!v || 'Field is required']"
                  :items="branches.map((item) => item.name)"
                  class="mb-2"
                  clearable
                  label="Branch"
                >
                </v-select>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="invoiceStore.employeeName"
                  :disabled="invoiceStore.employeeName !== ''"
                  :readonly="loading"
                  :items="employees.map((item) => item.name)"
                  :rules="[(v: any) => !!v || 'Field is required']"
                  class="mb-2"
                  label="Employee"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="invoiceStore.invoice.total"
                  readonly
                  class="mb-2"
                  label="Total(THB)"
                  type="number"
                  suffix="฿"
                >
                </v-text-field>
              </v-col>
            </v-row>
            <!-- details table -->
            <v-row>
              <v-data-table-virtual
                :headers="detailHeaders"
                :items="invoiceStore.invoice.invoiceDetails"
              >
                <template v-slot:top>
                  <v-toolbar flat style="background-color: whitesmoke">
                    <v-toolbar-title>Invoices</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="white"
                      style="background-color: rgb(255, 182, 55)"
                      @click="addDetail"
                    >
                      <v-icon left>mdi-invoice-check</v-icon>
                      Add Invoice Detail
                    </v-btn>
                  </v-toolbar>
                </template>

                <template v-slot:[`item.no`]="{ index }">
                  {{ index + 1 }}
                </template>

                <template v-slot:[`item.actions`]="{ item }">
                  <v-icon size="small" @click="removeItem(item)"> mdi-delete </v-icon>
                </template>

                <template v-slot:no-data> No detail available </template>
              </v-data-table-virtual>
            </v-row>
          </v-container>
        </v-form>
        <small>*Indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
        <v-btn color="orange" variant="text" @click="saveInvoice()"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <InvoiceDetailsDialog></InvoiceDetailsDialog>
</template>
