<script lang="ts" setup>
import { nextTick, onMounted, provide, ref } from 'vue'
import type { Invoice } from '@/types/Invoice'
import { useInvoiceStore } from '@/stores/invoice'
import { useEmployeeStore } from '@/stores/employee'
import { useBranchStore } from '@/stores/branch'
import InvoiceDialog from './InvoiceDialog.vue'
import utilityInvoiceService from '@/services/utilityInvoice'
import invoiceService from '@/services/utilityInvoice'
import { watch } from 'vue'
import { computed } from 'vue'
import type { Branch } from '@/types/Branch'
import branchService from '@/services/branch'
import type { InvoiceDetail } from '@/types/InvoiceDetail'
import { useAuthStore } from '@/stores/auth'
import type { Employee } from '@/types/Employee'

const headers = [
  {
    title: 'ID',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Type',
    key: 'type',
    value: 'type'
  },
  {
    title: 'Branch',
    key: 'branch',
    value: 'branch'
  },
  {
    title: 'Employee',
    key: 'employee',
    value: 'employee'
  },
  {
    title: 'Total(THB)',
    key: 'total',
    value: 'total'
  },

  {
    title: 'Date Pay',
    key: 'datePay',
    value: 'datePay'
  },

  { title: 'Actions', key: 'actions', value: 'actions', sortable: false }
]

function closeDeleteDetail() {
  dialogDeleteDetail.value = false
}
async function deleteItemDetailConfirm() {
  invoiceService.delInvoiceDetail(invoiceStore.editingInvoiceDetail)
  closeDeleteDetail()
  location.reload()
}
const dialogDeleteDetail = ref(false)

async function deleteItemDetail(item: any) {
  console.log(item)
  invoiceStore.editingInvoiceDetail = Object.assign({}, item)
  console.log(invoiceStore.editingInvoiceDetail)
  dialogDeleteDetail.value = true
}

const detailHeaders = [
  {
    title: 'No.',
    key: 'no',
    value: 'id'
  },
  {
    title: 'Item',
    key: 'item',
    value: 'item'
  },
  {
    title: 'Quantity',
    key: 'qty',
    value: 'qty'
  },
  {
    title: 'Unit Price(THB)',
    key: 'price',
    value: 'price'
  },
  {
    title: 'Total Price(THB)',
    key: 'total',
    value: 'total'
  },
  {
    title: 'Unit',
    key: 'unit',
    value: 'unit'
  },
  {
    title: 'Action',
    key: 'action',
    value: 'action'
  }
]

const invoiceStore = useInvoiceStore()
const employeeStore = useEmployeeStore()
const branchStore = useBranchStore()
const dialogDelete = ref(false)

const Invoices = ref<Invoice[]>([])
async function initialize() {
  const res = await utilityInvoiceService.getInvoices()
  invoiceStore.invoices = res.data
  console.log(Invoices.value)
}
const forDel = ref<Invoice>()
const deleteItem = (item: Invoice) => {
  dialogDelete.value = true
  forDel.value = item
}

const closeDelete = () => {
  dialogDelete.value = false
}

const deleteItemConfirm = async () => {
  invoiceService.delInvoice(forDel.value)
  const res = await utilityInvoiceService.getInvoices()
  invoiceStore.invoices = res.data

  closeDelete()
  initialize()
  initialize()
}

const currentEmp = ref<Employee>()
const authStore = useAuthStore()

onMounted(async () => {
  currentEmp.value = await authStore.getCurrentUser()
  branches.value = currentEmp.value.branch

  const resUI = await utilityInvoiceService.getInvoices()

  instanceUtilities.value = resUI.data
  utilities.value = instanceUtilities.value
  branchUtilities.value = instanceUtilities.value
  yearUtilities.value = instanceUtilities.value
})

const addDialog = () => {
  invoiceStore.invoiceDialog = true
}

const toggleDetails = (item: Invoice) => {
  item.toggleStatus = !item.toggleStatus
}

const utilities = ref<Invoice[]>([])
const instanceUtilities = ref<Invoice[]>([])
const branchUtilities = ref<Invoice[]>([])
const yearUtilities = ref<Invoice[]>([])
const brName = ref('ALL')
const year = ref('')
const month = ref('')
const monthNumber = ref('')

watch(brName, (newVal) => {
  if (newVal !== 'ALL') {
    getFromBranch()
  } else {
    utilities.value = instanceUtilities.value
    year.value = ''
    month.value = ''
  }
})
watch(year, (newVal) => {
  if (newVal !== '') {
    getFromYear()
  }
})
watch(month, (newVal) => {
  if (newVal !== '') {
    switch (newVal) {
      case 'January':
        monthNumber.value = '01'
        break
      case 'February':
        monthNumber.value = '02'
        break
      case 'March':
        monthNumber.value = '03'
        break
      case 'April':
        monthNumber.value = '04'
        break
      case 'May':
        monthNumber.value = '05'
        break
      case 'June':
        monthNumber.value = '06'
        break
      case 'July':
        monthNumber.value = '07'
        break
      case 'August':
        monthNumber.value = '08'
        break
      case 'September':
        monthNumber.value = '09'
        break
      case 'October':
        monthNumber.value = '10'
        break
      case 'November':
        monthNumber.value = '11'
        break
      case 'December':
        monthNumber.value = '12'
        break
    }
    getFromMonth()
  }
})
const getFromBranch = async () => {
  utilities.value = instanceUtilities.value.filter((item) => item.branch.name === brName.value)
  branchUtilities.value = utilities.value
}
const getFromYear = async () => {
  utilities.value = branchUtilities.value.filter(
    (item) => item.datePay?.substring(6, 10) === year.value
  )
  yearUtilities.value = utilities.value
}
const getFromMonth = async () => {
  utilities.value = instanceUtilities.value.filter(
    (item) => item.datePay?.substring(3, 5) === monthNumber.value
  )
}

const branches = ref<Branch[]>([])
</script>

<template>
  <div>
    <v-data-table :headers="headers" :items="utilities" show-expand>
      <template v-slot:top>
        <v-toolbar flat style="background-color: whitesmoke">
          <v-toolbar-title>Utility Invoice</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-col cols="2">
            <v-card-text style="margin-top: 15px">
              <v-select
                density="comfortable"
                label="Month"
                allow-overflow
                :items="[
                  'January',
                  'February',
                  'March',
                  'April',
                  'May',
                  'June',
                  'July',
                  'August',
                  'September',
                  'October',
                  'November',
                  'December'
                ]"
                v-model="month"
              >
              </v-select>
            </v-card-text>
          </v-col>
          <v-col cols="2">
            <v-card-text style="margin-top: 15px">
              <v-select
                density="comfortable"
                label="Year"
                allow-overflow
                :items="['2024', '2023', '2022', '2021', '2020']"
                v-model="year"
              >
              </v-select>
            </v-card-text>
          </v-col>
          <v-col cols="2">
            <v-card-text style="margin-top: 15px">
              <v-select
                density="comfortable"
                :items="['ALL', ...branches.map((item) => item.name)]"
                label="Select Branch"
                allow-overflow
                v-model="brName"
              ></v-select>
            </v-card-text>
          </v-col>
          <v-btn color="white" style="background-color: rgb(255, 182, 55)" @click="addDialog">
            <v-icon left>mdi-receipt-text-plus</v-icon> Add Invoice
          </v-btn>

          <!-- Delete Dialog -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="orange" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="orange" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <v-dialog v-model="dialogDeleteDetail" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this detail?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="orange" variant="text" @click="closeDeleteDetail">Cancel</v-btn>
                <v-btn color="orange" variant="text" @click="deleteItemDetailConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:item="{ item, columns, index }">
        <tr>
          <td>{{ index + 1 }}</td>
          <td>{{ item.type }}</td>
          <td>
            {{ item.branch.name }}
          </td>
          <td>
            {{ item.employee.name }}
          </td>
          <td>{{ item.total }}</td>
          <td>{{ item.datePay }}</td>
          <td><v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon></td>

          <td><v-icon size="large" @click="toggleDetails(item)">mdi-menu-down</v-icon></td>
        </tr>
        <template v-if="item.toggleStatus">
          <tr>
            <td :colspan="columns.length">
              <v-data-table-virtual
                :headers="detailHeaders"
                :items="item.invoiceDetails"
                density="compact"
                hide-default-footer
              >
                <template v-slot:[`item.no`]="{ index }"> {{ index + 1 }} </template>
                <template v-slot:[`item.action`]="{ item }">
                  <td>
                    <v-icon size="small" @click="deleteItemDetail(item)"> mdi-delete </v-icon>
                  </td>
                </template>

                <template v-slot:no-data> No details available </template>
              </v-data-table-virtual>
            </td>
          </tr>
        </template>
      </template>

      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
  <InvoiceDialog></InvoiceDialog>
</template>
