<script setup lang="ts">
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import { useProductStore } from '@/stores/product'
import { usePromotionStore } from '@/stores/promotion'
import type { Promotion } from '@/types/Promotion'

const headers = [
  {
    title: 'promotionId',
    key: 'promotionId',
    value: 'promotionId'
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Status',
    key: 'status',
    value: 'status'
  },
  {
    title: 'DiscountPercentage',
    key: 'discountPercentage',
    value: 'discountPercentage'
  },
  {
    title: 'DiscountBaht',
    key: 'discountBaht',
    value: 'discountBaht'
  },
  {
    title: 'UsePoint',
    key: 'usePoint',
    value: 'usePoint'
  },
  {
    title: 'LimitMenu',
    key: 'limitMenu',
    value: 'limitMenu'
  },

  { title: 'Actions', key: 'actions', sortable: false }
]

const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)
const promotionStore = usePromotionStore()
// const promotions = ref(promotionStore.promotions)
// let editedIndex = -1
// let lastId = promotionStore.promotions.length + 1
function onSubmit() { }

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    promotionStore.clearForm()
  })
}
async function deleteItemConfirm() {
  // Delete item from list
  await promotionStore.deletePromotion()
  closeDelete()
}

onMounted(() => {
  promotionStore.editedPromotion = Object.assign({}, promotionStore.initialPromotion)
})
async function editItem(item: Promotion) {
  if (!item.promotionId) return
  await promotionStore.getPromotion(item.promotionId)
  dialog.value = true
}

async function deleteItem(item: Promotion) {
  if (!item.promotionId) return
  await promotionStore.getPromotion(item.promotionId)
  dialogDelete.value = true
}
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    promotionStore.clearForm()
  })
}

async function saveStatus(item: Promotion) {
  if (!item.promotionId) return
  await promotionStore.updateStatus(item.promotionId, item.status)
  // Optionally, update promotions after successful update
  closeDialog()
}

async function save() {
  promotionStore.savePromotion()
  closeDialog()
}

onMounted(() => {
  initial()
})

const initial = () => {
  promotionStore.getPromotions()
}

function getStatusLabel(status: number): string {
  return status === 1 ? 'Active' : 'Inactive'
}
</script>
<template>
  <div>
    <v-data-table :headers="headers" :items="promotionStore.promotions">
      <template v-slot:top>
        <v-toolbar flat style="background-color: whitesmoke">
          <v-toolbar-title>Promotion Management</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <!-- Put Edited Dialog -->
          <v-dialog v-model="dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn color="white" style="background-color: rgb(255, 182, 55)" v-bind="props">
                <v-icon left>mdi-sale</v-icon> Add Promotion
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">Promotion</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field v-model="promotionStore.editedPromotion.name" :readonly="loading"
                          :rules="[(v: any) => !!v || 'Field is required']" class="mb-2" clearable
                          label="Name"></v-text-field>
                      </v-col>

                      <v-col cols="12" sm="12" md="6">
                        <v-switch color="orange" v-model="promotionStore.editedPromotion.status" :readonly="loading"
                          label="Status" :true-value="1" :false-value="0"></v-switch>
                      </v-col>

                      <v-col cols="12" sm="12" md="6">
                        <v-text-field v-model="promotionStore.editedPromotion.discountPercentage" :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                          label="Discount Percent"></v-text-field>
                      </v-col>

                      <v-col cols="12" sm="12" md="6">
                        <v-text-field v-model="promotionStore.editedPromotion.discountBaht" :readonly="loading"
                          class="mb-2" clearable label="Discount Baht"></v-text-field>
                      </v-col>

                      <v-col cols="12" sm="12" md="6">
                        <v-text-field v-model="promotionStore.editedPromotion.usePoint" :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                          label="Use Point"></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-text-field v-model="promotionStore.editedPromotion.limitMenu" :readonly="loading"
                          class="mb-2" clearable label="Limit Menu"></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>*Indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
                <v-btn color="orange" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!-- Delete Dialog -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="orange" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="orange" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item="{ item, index }">
        <tr>
          <td>{{ index + 1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ getStatusLabel(item.status) }}</td>
          <td>{{ item.discountPercentage }}</td>
          <td>{{ item.discountBaht }}</td>
          <td>{{ item.usePoint }}</td>
          <td>{{ item.limitMenu }}</td>
          <v-switch color="orange" v-model="item.status" :true-value="1" :false-value="0"
            @change="saveStatus(item)"></v-switch>
          <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
          <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
        </tr>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initial"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
</template>
