<script lang="ts" setup>
import { nextTick, onMounted, ref } from 'vue'
import type { Employee } from '@/types/Employee'
import { useEmployeeStore } from '@/stores/employee'
import EmployeeDialog from '@/views/Employee/EmployeeDialog.vue'
import { useLoadingStore } from '@/stores/loading'
import http from '@/services/http'
import type { VForm } from 'vuetify/components'
import employeeService from '@/services/employee'
import branch from '@/services/branch'
import EmpMonthSellDialog from './EmpMonthSellDialog.vue'

const headers = [
  {
    title: 'No.',
    key: 'No',
    value: 'No'
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Email',
    key: 'email',
    value: 'email'
  },
  {
    title: 'Roles',
    key: 'roles',
    value: 'roles'
  },
  {
    title: 'Gender',
    key: 'gender',
    value: 'gender'
  },
  {
    title: 'Salary Type',
    key: 'salaryType',
    value: 'salaryType'
  },
  {
    title: 'Salary',
    key: 'salary',
    value: 'salary'
  },
  {
    title: 'Phone',
    key: 'phone',
    value: 'phone'
  },

  {
    title: 'Branch',
    key: 'branch',
    value: 'branch'
  },
  {
    title: 'WagePerHour',
    key: 'wagePerHour',
    value: 'wagePerHour'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]

const search = ref<string>('')
const employeeStore = useEmployeeStore()
const employees = ref(employeeStore.employees)
const dialogDelete = ref(false)
const refForm = ref<VForm | null>(null)
// const editedEmployee = ref<Employee>(JSON.parse(JSON.stringify(initialEmployee)))

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    employeeStore.clearForm()
  })
}
async function deleteItemConfirm() {
  // Delete item from list
  await employeeStore.deleteEmployee()
  closeDelete()
}

async function editItem(item: Employee) {
  const res = ref()
  if (item.employeeId !== undefined) {
    res.value = await employeeService.getEmployee(item.employeeId)
  }

  employeeStore.editedEmployee = res.value.data
  employeeStore.empEditId = employeeStore.editedEmployee.employeeId ?? -1
  employeeStore.selectedGender = employeeStore.editedEmployee.gender
  employeeStore.selectedSalaryType = employeeStore.editedEmployee.salaryType
  employeeStore.empEmail = employeeStore.editedEmployee.email
  employeeStore.empName = employeeStore.editedEmployee.name
  // employeeStore.empPass = employeeStore.editedEmployee.password
  employeeStore.empSalary = employeeStore.editedEmployee.salary ?? 0
  employeeStore.empPhone = employeeStore.editedEmployee.phone
  employeeStore.empWage = employeeStore.editedEmployee.wagePerHour
  for (const itemBranch of employeeStore.editedEmployee.branch) {
    employeeStore.selectedBranch.push(itemBranch.name)
  }
  for (const itemRole of employeeStore.editedEmployee.roles) {
    employeeStore.selectedRoles.push(itemRole.name)
  }
  employeeStore.employeeDialog = true
  employeeService.getEmployees()
}
async function deleteItem(item: Employee) {
  // editedIndex = Employees.value.indexOf(item)
  if (!item.employeeId) return
  await employeeStore.getEmployee(item.employeeId)
  dialogDelete.value = true
}

function closeDialog() {
  employeeStore.employeeDialog = false
  nextTick(() => {
    employeeStore.clearForm()
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await employeeStore.saveEmployee()
  closeDialog()
}

function addEmployee() {
  const cleanEmp = ref<Employee>({
    employeeId: 0,
    name: '',
    email: '',
    password: '',
    roles: [],
    gender: 'male',
    salaryType: 'Full-Time',
    phone: '',
    wagePerHour: 0,
    branch: []
  })
  employeeStore.editedEmployee = cleanEmp.value
  employeeStore.employeeDialog = true
}

const showEmpRec = async (item: Employee) => {
  const id = ref<string>('')
  if (item.employeeId !== undefined) id.value = item.employeeId.toString()
  const res = await employeeService.findOneSp(id.value)
  alert(
    res.data[0][0].employeeName +
    ' ขายได้' +
    res.data[0][0].total +
    'รายการ' +
    res.data[0][0].status
  )

  console.log(res.data[0][0])
}
function openMonthDialog() {
  employeeStore.monthselldialog = true
}

onMounted(() => {
  employeeStore.getEmployees()
})
</script>

<template>
  <div>
    <v-data-table :headers="headers" :items="employeeStore.employees" :search="search">
      <template v-slot:top>
        <v-toolbar flat style="background-color: whitesmoke">
          <v-toolbar-title>Employees</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>

          <!-- Search bar  -->
          <v-text-field style="background-color: #ffffff; max-width: 300px; margin: 10px" v-model="search"
            label="Search" prepend-inner-icon="mdi-magnify" single-line variant="outlined" hide-details>
          </v-text-field>
          <v-btn color="white" style="background-color: rgb(255, 182, 55)" @click="openMonthDialog()">
            <v-icon left>mdi-clipboard-check-multiple-outline</v-icon> เช็คสถานะการขายแต่ละเดือน
          </v-btn>
          <v-btn color="white" style="background-color: rgb(255, 182, 55)" @click="addEmployee">
            <v-icon left>mdi-account-plus</v-icon> New Employee
          </v-btn>

          <!-- Delete Dialog -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="orange" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="orange" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:[`item.roles`]="{ item }">
        {{ item.roles.map((role) => role.name).join(', ') }}
      </template>

      <template v-slot:[`item.branch`]="{ item }">
        {{ item.branch.map((branch) => branch.name).join(', ') }}
      </template>

      <template v-slot:[`item.No`]="{ index }">
        {{ index + 1 }}
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
        <v-icon size="small" @click="showEmpRec(item)"> mdi-magnify </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="employeeStore.getEmployees"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
  <EmpMonthSellDialog></EmpMonthSellDialog>
  <EmployeeDialog></EmployeeDialog>
</template>
