<script lang="ts" setup>
import { ref } from 'vue'
import { useEmployeeStore } from '@/stores/employee'
import employeeService from '@/services/employee'
import type { Employee } from '@/types/Employee'
import { onMounted } from 'vue'
const form = ref(false)
const name = ref<string>()
function onSubmit() {}
const employeeStore = useEmployeeStore()
const showEmpRec = async (name: string, Date: string) => {
  const index = idItems.value.findIndex((item) => item.name === name)
  const id = idItems.value[index].employeeId
  const res = await employeeService.findOneSpDate(id?.toString() ?? '', Date)
  alert(
    res.data[0][0].Name +
      ' ในเดือนนี้ขายได้ ' +
      res.data[0][0].total +
      ' รายการ ' +
      ' ขายสินค้าได้' +
      res.data[0][0].statusSell
  )

  console.log(res.data[0][0])
  closeDialog()
}
const idItems = ref<Employee[]>([])
onMounted(async () => {
  const res = await employeeService.getEmployees()
  idItems.value = res.data
})
function closeDialog() {
  name.value = undefined
  employeeStore.selectedMonth = ''
  employeeStore.selectedYear = ''
  employeeStore.monthselldialog = false
}
</script>

<template>
  <v-dialog v-model="employeeStore.monthselldialog" persistent width="1024">
    <v-card>
      <v-card-title style="background-color: rgb(255, 188, 63)">
        <span class="text-h5">Please Select Year and Month</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
          <v-container>
            <!-- dialog -->
            <v-row>
              <v-col cols="12" sm="12" md="6">
                <v-select
                  v-model="name"
                  :items="idItems.map((item) => item.name)"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Id Employee"
                >
                </v-select>
              </v-col>
              <v-col cols="15">
                <v-select
                  v-model="employeeStore.selectedMonth"
                  :items="employeeStore.months"
                  label="Month"
                  allow-overflow
                >
                </v-select>
              </v-col>

              <v-col cols="15">
                <v-select
                  v-model="employeeStore.selectedYear"
                  :items="employeeStore.years"
                  label="Year"
                  allow-overflow
                >
                </v-select>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*Indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
        <v-btn
          color="orange"
          variant="text"
          @click="
            showEmpRec(name ?? '', employeeStore.selectedMonth + '-' + employeeStore.selectedYear)
          "
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
