<script setup lang="ts">
import { useCheckStockStore } from '@/stores/checkStock'
import { onMounted } from 'vue'
import { computed, watch } from 'vue'
import { ref } from 'vue'
import { useMaterialStore } from '@/stores/material'
import branchStockService from '@/services/branchStock'
import { useAuthStore } from '@/stores/auth'
import type { Employee } from '@/types/Employee'
import { useSelectBranchStore } from '@/stores/selectBranch'
import { useBranchStockStore } from '@/stores/branchStock'
import type { CheckStockDetail } from '@/types/CheckStockDetail'


const checkStockStore = useCheckStockStore()
const materialStore = useMaterialStore()
const authStore = useAuthStore()
const selectBranchStore = useSelectBranchStore()
const branchStockStore = useBranchStockStore()
const currentUser = ref<Employee>()
const currentUsername = ref('')
let index = 0

function closeDialog() {
  checkStockStore.checkStockDialog = false
  checkStockStore.brachStockFoundBranches = []
}
async function save() {
  checkStockStore.brachStockFoundBranches.forEach((branchStock) => {
    const editingCheckStockDetailData: CheckStockDetail = {
      checkStockDetailId: -1,
      checkStock: checkStockStore.editedCheckStock,
      checkLast: branchStock.qty,
      checkRemain: parseInt(updateQtys.value[index]),
      material: branchStock.material,
      used: branchStock.qty - parseInt(updateQtys.value[index]),
      branchStock: branchStock
    }
    checkStockStore.editedCheckStockDetail.push(editingCheckStockDetailData)
    branchStock.qty = parseInt(updateQtys.value[index])
    branchStockService.updateBranchStock(branchStock)
    index += 1
  })
  checkStockStore.saveCheckStock()
  clear()
  closeDialog()
}

const DateMonthYear = ref('')
function clear() {
  updateQtys.value = []
  checkStockStore.editedCheckStockDetail = []
  index =0
}

const formData = ref({
  endDate: new Date()
})
const dateMenu = ref(false)
const endDateField = computed(() =>
  formData.value.endDate.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'short',
    day: 'numeric'
  })
)

const day = ref('')
const month = ref('')
const year = ref('')

const setDate = () => {
  const endDate = formData.value.endDate

  if (endDate instanceof Date) {
    if (endDate.getDate() < 10) {
      day.value = '0' + endDate.getDate().toString()
    } else {
      day.value = endDate.getDate().toString()
    }

    if (endDate.getMonth() + 1 < 10) {
      month.value = '0' + (endDate.getMonth() + 1).toString()
    } else {
      month.value = (endDate.getMonth() + 1).toString()
    }

    year.value = endDate.getFullYear().toString()

    DateMonthYear.value = year.value + '-' + month.value + '-' + day.value
  }
}

const updateQtys = ref<string[]>([])

onMounted(() => {
  branchStockStore.getBranchStocks()
  materialStore.getMaterials()
  currentUser.value = authStore.getCurrentUser()
  currentUsername.value = currentUser.value.name
  setDate()
})

</script>

<template>
  <v-dialog v-model="checkStockStore.checkStockDialog" persistent width="1024">
    <v-card>
      <v-card-title style="background-color: rgb(255, 188, 63)">
        <span class="text-h5">CheckStock List</span>
      </v-card-title>

      <v-container>
        <v-row>
          <v-col cols="6">
            <v-text-field label="Employee Name" v-model="currentUsername" readonly></v-text-field>
          </v-col>
          <v-col cols="6"
            ><v-menu v-model="dateMenu" :close-on-content-click="false">
              <template #activator="{ props }">
                <v-text-field
                  v-model="endDateField"
                  label="Date Check"
                  readonly
                  v-bind="props"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="formData.endDate"
                color="orange"
                show-adjacent-months
                @update:model-value="dateMenu = false"
              ></v-date-picker>
            </v-menu>
          </v-col>

          <v-row>
            <v-container>
              <v-table>
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>รายการ</th>
                    <th>จำนวนล่าสุด</th>
                    <th>จำนวนคงเหลือ</th>
                    <th>หน่วย</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(item, index) of checkStockStore.brachStockFoundBranches"
                    :key="item.branchStockId"
                  >
                    <td>{{ index + 1 }}</td>
                    <td>{{ item.material.name }}</td>
                    <td>{{ item.qty }}</td>
                    <td>
                      <div>
                        <v-text-field
                          style="margin-right: 0px"
                          v-model="updateQtys[index]"
                          type="number"
                        ></v-text-field>
                      </div>
                    </td>
                    <td>{{ item.material.unit }}</td>
                  </tr>
                </tbody>
              </v-table>
            </v-container>
          </v-row>
        </v-row>
      </v-container>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
        <v-btn color="orange" variant="text" @click="save()"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
