<script setup lang="ts">
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import type { Branch } from '@/types/Branch'
import { useBranchStore } from '@/stores/branch'
const headers = [
  {
    title: 'No',
    key: 'no',
    value: 'no'
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Address',
    key: 'address',
    value: 'address'
  },
  {
    title: 'Phone',
    key: 'phone',
    value: 'phone'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const loading = ref(false)
const dialogDelete = ref(false)

// const editedBranch = ref<Branch>(JSON.parse(JSON.stringify(initilBranch)))

const branchStore = useBranchStore()
const branch = ref(branchStore.branches)
let editedIndex = -1

let lastId = branchStore.branches.length + 1
function onSubmit() { }

function closeDelete() {
  dialogDelete.value = false
  // nextTick(() => {
  //   editedBranch.value = Object.assign({}, initilBranch)
  // })
}
function deleteItemConfirm() {
  // Delete item from list
  branchStore.deleteBranch()
  closeDelete()
}

onMounted(() => {
  branchStore.editedBranch = Object.assign({}, branchStore.initialBranch)
})
function editItem(item: Branch) {
  editedIndex = branch.value.indexOf(item)
  branchStore.editedBranch = Object.assign({}, item)
  branchStore.branchDialog = true
}

function deleteItem(item: Branch) {
  editedIndex = branch.value.indexOf(item)
  branchStore.editedBranch = Object.assign({}, item)
  dialogDelete.value = true
}
function closeDialog() {
  branchStore.branchDialog = false
  nextTick(() => {
    branchStore.editedBranch = Object.assign({}, branchStore.initialBranch)
    editedIndex = -1
  })
}

async function save() {
  //   console.log(branchStore.branches.length)
  //   const { valid } = await refForm.value!.validate()
  //   branchStore.editedBranch.branchId = editedBranch.value.branchId
  //   console.log(branchStore.editedBranch.branchId + 'X')
  //   branchStore.editedBranch.name = editedBranch.value.name
  //   branchStore.editedBranch.address = editedBranch.value.address
  //   branchStore.editedBranch.phone = editedBranch.value.phone
  branchStore.saveBranch()
  closeDialog()
}

onMounted(() => {
  initial()
})

const initial = () => {
  branchStore.getBranches()
}
</script>
<template>
  <div>
    <v-data-table :headers="headers" :items="branchStore.branches">
      <template v-slot:top>
        <v-toolbar flat style="background-color: whitesmoke">
          <v-toolbar-title>Branch Management</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <!-- Put Edited Dialog -->
          <v-dialog v-model="branchStore.branchDialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn color="white" style="background-color: rgb(255, 182, 55)" v-bind="props">
                <v-icon left>mdi-store-plus</v-icon> Add Branch
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">Branch</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field v-model="branchStore.editedBranch.name" :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                          label="Name"></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field v-model="branchStore.editedBranch.address" :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                          label="Address"></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field v-model="branchStore.editedBranch.phone" :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                          label="Phone"></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>*Indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" variant="text" @click="closeDialog()"> Close </v-btn>
                <v-btn color="primary" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- Delete Dialog -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="primary" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:[`item.no`]="{ index }">
        {{ index + 1 }}
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initial"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
</template>
