src/views/POSold/PromptPayDialog.vue
<script setup lang="ts">
import { computed, ref, watch } from 'vue'

import { useReceiptStore } from '@/stores/receipt'

import { usePromotionStore } from '@/stores/promotion'
import { useCustomerStore } from '@/stores/customer'
import promotionService from '@/services/promotion'
import PromotionDialog from './PromotionDialog.vue'
import type { Customer } from '@/types/Customer'
import CustomerDialog from '../Customer/CustomerDialog.vue'

// const memberStore = useCustomerStore()
const receiptStore = useReceiptStore()
const promotionStore = usePromotionStore()
const customerStore = useCustomerStore()
const telInput = ref<string>('')

const searchCustomer = async () => {
  receiptStore.searchCustomer(telInput.value)
}
function addCustomer() {
  const cleanCus = ref<Customer>({
    customerId: -1,
    name: '',
    phone: '',
    birthDate: '',
    point: 0
  })
  customerStore.editedCustomer = cleanCus.value
  customerStore.customerDialog = true
}
</script>
<template>
  <v-container style="background-color: whitesmoke">
    <v-row no-gutters>
      <v-col cols="6"><v-text-field v-model="telInput" density="compact" variant="solo"
          label="กรอกหมายเลขโทรศัพท์สมาชิก" append-inner-icon="mdi-magnify" single-line hide-details
          @click:append-inner="searchCustomer()" @keyup.enter="searchCustomer()"></v-text-field></v-col>
      <v-col cols="1"></v-col>
      <v-col id="callMem" cols="4" class="pa-2 text-left">Member Name :{{
        receiptStore.currentCustomer?.name ? receiptStore.currentCustomer?.name : 'ไม่พบ'
      }}</v-col>
      <v-col cols="1" v-if="receiptStore.happybirthday === true">HBD <v-icon color="pink">mdi-cake</v-icon></v-col>
    </v-row>
    <v-row no-gutters style="padding-top: 6px">
      <v-col cols="6" density="compact">
        <v-row>
          <v-col cols="6"><v-btn block rounded="l" class="color-btn" size="default"
              @click="addCustomer()">สมัครสมาชิก</v-btn>
          </v-col>
          <v-col cols="6"><v-btn block rounded="l" class="color-btn" size="default"
              :disabled="receiptStore.currentCustomer === undefined"
              @click="receiptStore.promotionDialog = true">โปรโมชั่น</v-btn></v-col>
        </v-row>
      </v-col>
      <v-col cols="1"></v-col>
      <v-col cols="5" class="pa-2 text-left" no-gutters>Member Point :
        {{ receiptStore.currentCustomer?.point ? receiptStore.currentCustomer?.point : 0 }}</v-col>
    </v-row>
  </v-container>
  <CustomerDialog></CustomerDialog>
  <PromotionDialog></PromotionDialog>
</template>

<style>
.color-btn {
  background-color: #ffb517;
}
</style>
../Customer/CustomerView.vue../Customer/CustomerView.vue../Customer/CustomerDialog.vue
