<script setup lang="ts">
import { defineProps, defineEmits, ref, computed } from 'vue'
import { type Product } from '@/types/Product'
import { useProductStore } from '@/stores/product'
import { useReceiptStore } from '@/stores/receipt'

const props = defineProps<{
  product: Product
}>()

const receiptStore = useReceiptStore()
function selectedProduct(p: Product) {
  receiptStore.tempProduct = p
  receiptStore.openOptionProduct = true
}
</script>

<template>
  <!-- <v-sheet :style="{ height: product.type === '3' ? '200px' : '290px' }" width="190" elevation="3"> -->
  <v-sheet :style="{ height: '200px' }" width="190" elevation="3">
    <div>
      <v-img
        :src="`http://localhost:3000/images/products/${product.image}`"
        height="150"
        cover
        @click="selectedProduct(product)"
      ></v-img>
    </div>
    <div style="text-align: center">{{ product.name }}</div>
    <div style="text-align: center">{{ product.price }} บาท</div>
  </v-sheet>
</template>
