<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'
import type { Product } from '@/types/Product'
import { computed, onMounted, onUpdated, ref, watch } from 'vue'

const receiptStore = useReceiptStore()

const selectedSubCategory = ref<number>(1)

const selectedSweetLevel = ref<number>(3)

const price = ref<number>(0)

watch(
  () => receiptStore.tempProduct?.price,
  (newVal) => {
    // Corrected the parameter name to newVal
    if (newVal !== undefined)
      // Corrected the condition
      price.value = newVal
  }
)

onMounted(() => {
  if (receiptStore.tempProduct?.price !== undefined) {
    price.value = receiptStore.tempProduct.price
  }
})

const addPrice = computed(() => {
  if (selectedSubCategory.value === 1) {
    return 0
  } else if (selectedSubCategory.value === 2) {
    return 5
  } else {
    return 10
  }
})

const isDoDisabled = computed(() => {
  const category = receiptStore.tempProduct?.category.name
  return category === 'Food' || category === 'Dessert'
})

const doCancel = () => {
  receiptStore.openOptionProduct = false
  receiptStore.tempProduct = undefined
  qty.value = 1
  selectedSubCategory.value = 1
  selectedSweetLevel.value = 3
}

const qty = ref(1)

watch(
  () => qty.value,
  (newVal) => {
    qty.value = newVal
    if (qty.value === 0) {
      doCancel()
    }
  }
)
const decQty = () => {
  qty.value -= 1
}

const incQty = () => {
  qty.value += 1
}

const selectProduct = () => {
  const subCate = ref('')
  const swtLevel = ref('')
  if (
    receiptStore.tempProduct !== undefined &&
    receiptStore.tempProduct.category.name === 'Drink'
  ) {
    subCate.value =
      selectedSubCategory.value === 1
        ? 'เย็น'
        : selectedSubCategory.value === 2
          ? 'ร้อน'
          : selectedSubCategory.value === 3
            ? 'ปั่น'
            : 'Other'

    swtLevel.value =
      selectedSweetLevel.value === 1
        ? '0 %'
        : selectedSweetLevel.value === 2
          ? '25 %'
          : selectedSweetLevel.value === 3
            ? '50 %'
            : selectedSweetLevel.value === 4
              ? '75 %'
              : selectedSweetLevel.value === 5
                ? '100 %'
                : 'Unknown'
  } else {
    subCate.value = ''
    swtLevel.value = ''
  }

  receiptStore.selectP(qty.value, subCate.value, swtLevel.value, price.value + addPrice.value)
  doCancel()
}
</script>

<template>
  <v-sheet
    :style="{ height: '290px', border: '1px solid white' }"
    width="666"
    elevation="3"
    v-show="receiptStore.openOptionProduct"
    style="background-color: rgb(255, 255, 255)"
    rounded="lg"
  >
    <v-container padding="0">
      <v-row no-gutters>
        <v-col cols="3">
          <v-sheet min-width="235" max-width="500" height="235">
            <div>
              <v-img
                :src="`http://localhost:3000/images/products/${receiptStore.tempProduct?.image}`"
                height="235"
                cover
                :style="{ borderRadius: '6%' }"
              ></v-img>
            </div>
          </v-sheet>
        </v-col>
        <v-col cols="1" />
        <v-col cols="8">
          <v-sheet min-width="400" max-width="500" height="235">
            <div style="padding: 10px"></div>
            <v-row>
              <v-col cols="6">
                <div style="text-align: left; font-size: 20px; margin-left: 18%">
                  เมนู : {{ receiptStore.tempProduct?.name }}
                </div>
              </v-col>
              <v-col cols="3">
                <div>
                  <td style="font-size: medium">
                    <v-btn
                      style="width: 30px; height: 30px; border-radius: 4px"
                      icon="mdi-minus"
                      density="compact"
                      @click="decQty"
                    ></v-btn>
                    {{ qty }}
                    <v-btn
                      style="width: 32px; height: 32px; border-radius: 4px"
                      icon="mdi-plus"
                      density="compact"
                      @click="incQty"
                    ></v-btn>
                  </td>
                </div>
              </v-col>
              <v-col cols="3">
                <div style="text-align: right; font-size: 20px; margin-right: 12%">
                  {{ price + addPrice }} บาท
                </div>
              </v-col>
            </v-row>
            <div style="padding: 5px"></div>
            <div style="text-align: center; font-size: 20px; padding-left: 10px">
              <v-btn-toggle v-model="selectedSubCategory" elevation="1" :disabled="isDoDisabled">
                <v-row no-gutters>
                  <v-col cols="4"
                    ><v-btn :value="1" large style="width: 120px; height: 50px">เย็น</v-btn></v-col
                  >

                  <v-col cols="4"
                    ><v-btn :value="2" large style="width: 120px; height: 50px">ร้อน</v-btn></v-col
                  >

                  <v-col cols="4"
                    ><v-btn :value="3" large style="width: 120px; height: 50px">ปั่น</v-btn></v-col
                  >
                </v-row>
              </v-btn-toggle>
            </div>
            <div style="text-align: left; font-size: 16px; margin-left: 40px">ระดับความหวาน</div>
            <div style="text-align: center; font-size: 20px; padding-left: 10px">
              <v-btn-toggle v-model="selectedSweetLevel" elevation="1" :disabled="isDoDisabled">
                <v-row no-gutters>
                  <v-btn :value="1" large style="width: 72px; height: 50px">0 %</v-btn>
                  <v-btn :value="2" large style="width: 72px; height: 50px">25 %</v-btn>
                  <v-btn :value="3" large style="width: 72px; height: 50px">50 %</v-btn>
                  <v-btn :value="4" large style="width: 72px; height: 50px">75 %</v-btn>
                  <v-btn :value="5" large style="width: 72px; height: 50px">100 %</v-btn>
                </v-row>
              </v-btn-toggle>
            </div>

            <div style="padding-top: 10px; text-align: center">
              <v-row no-gutters>
                <v-col cols="12" style="margin: 10px">
                  <v-btn
                    color="orange"
                    style="background-color: rgb(255, 182, 55)"
                    @click="selectProduct"
                  >
                    <v-icon left> mdi-plus</v-icon> Select
                  </v-btn>

                  <v-btn
                    color="red"
                    style="background-color: rgb(255, 182, 55); margin-left: 15px"
                    @click="doCancel()"
                  >
                    <v-icon left> mdi-cancel</v-icon> Cancel
                  </v-btn>
                </v-col>
              </v-row>
            </div>
          </v-sheet>
        </v-col>
      </v-row>
    </v-container>
  </v-sheet>
</template>
