<script setup lang="ts">
import { usePromotionStore } from '@/stores/promotion'
import { useReceiptStore } from '@/stores/receipt'
import type { Promotion } from '@/types/Promotion'
import { onMounted } from 'vue'
import { ref } from 'vue'
import promotionService from '@/services/promotion'
import promotion from '@/services/promotion'

const promotionStore = usePromotionStore()

const promotions = ref<Promotion[]>([])
onMounted(async () => {
  const ress = await promotionService.getPromotions()
  promotions.value = ress.data
  for (const item of promotions.value) {
    if (item.status === 1) selecPros.value.push(item.name)
  }
})
const pmNameS = ref<string>()
const pmSelected = ref<Promotion>()
const selecPros = ref<string[]>([])
const closeDialog = () => {
  receiptStore.promotionDialog = false
}
const receiptStore = useReceiptStore()
const selectPromotion = () => {
  const index = promotions.value.findIndex((promotion) => promotion.name === pmNameS.value)
  pmSelected.value = promotions.value[index]
  if (pmSelected.value === promotions.value[0]) {
    alert('สุขสันต์วันเกิด ^_^')
  } else {
    receiptStore.proUsed = pmSelected.value
    // receiptStore.initialReceipt.promotion = pmSelected.value
    receiptStore.promotionDialog = false
    receiptStore.calculateTotalBefore()
  }
}
</script>

<template>
  <v-dialog width="500" v-model="receiptStore.promotionDialog">
    <v-card style="background-color: rgb(255, 197, 90)">
      <v-container></v-container>
      <v-container style="background-color: rgb(255, 255, 255); width: 400px; padding:">
        <v-card-title class="text-h5">Promotion</v-card-title>
        <v-select
          v-model="pmNameS"
          :items="selecPros"
          label="Promotion"
          hint="Choose Promotion For Member."
          persistent-hint
        ></v-select>

        <v-row>
          <v-col cols="3"></v-col>
          <v-col cols="3"><v-btn @click="selectPromotion()">Select</v-btn></v-col>

          <v-col cols="3"><v-btn @click="closeDialog">Close</v-btn></v-col>
          <v-col cols="3"></v-col>
        </v-row>
      </v-container>
      <v-container></v-container>
    </v-card>
  </v-dialog>
</template>
