<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'

const receiptStore = useReceiptStore()

const closeDialog = () => {
  receiptStore.ppDialog = false
  receiptStore.receiveMoney = receiptStore.initialReceipt.total

  receiptStore.saveReceipt()
  receiptStore.clearReceipt()
}
</script>

<template>
  <v-dialog v-model="receiptStore.ppDialog" persistent width="350" height="600">
    <v-container style="background-color: rgb(245, 242, 242); text-align: center">
      <v-card-title class="text-h5" style="color: rgb(54, 38, 2)"
        >DSI Promptpay System</v-card-title
      >
      <v-row>
        <v-col cols="2"></v-col>
        <v-col cols="8"><v-img src="../../../public/img/Promptpay/app_icon.png"></v-img></v-col>
        <v-col cols="2"></v-col>
      </v-row>

      <v-divider class="my-4"></v-divider>
      <v-row>
        <v-col cols="12" class="text-h6">DSI-COFFEE </v-col>
        <v-col cols="12" class="text-h6">ราคา {{ receiptStore.initialReceipt.total }} บาท</v-col>
      </v-row>
      <v-divider></v-divider>
      <v-btn style="margin-top: 10px" @click="closeDialog">เสร็จสิ้น</v-btn>
    </v-container>
  </v-dialog>
</template>
