<script setup lang="ts">
import { useBranchStore } from '@/stores/branch'
import { useCustomerStore } from '@/stores/customer'
import { useEmployeeStore } from '@/stores/employee'
import { usePromotionStore } from '@/stores/promotion'
import { useReceiptStore } from '@/stores/receipt'
import { onMounted, watch } from 'vue'
import { computed, inject, ref, type Ref } from 'vue'

const receiptStore = useReceiptStore()

const employeeStore = useEmployeeStore()
const customerStore = useCustomerStore()
const promotionStore = usePromotionStore()
const empName = ref('')
const cusName = ref('')
const proName = ref('')

const branchStore = useBranchStore()
const branchName = ref('')

function convertStringToDateTime(dateString: string): Date {
  // แยกวันที่และเวลาออกจากกัน
  const [datePart, timePart] = dateString.split(' ')
  const [day, month, year] = datePart.split('/')
  const [hour, minute, second] = timePart.split(':')

  // สร้างวัตถุ Date จากวันที่และเวลาที่แยกออกมา
  const dateObject = new Date(
    parseInt(year),
    parseInt(month) - 1,
    parseInt(day),
    parseInt(hour),
    parseInt(minute),
    parseInt(second)
  )

  return dateObject
}

const dateObject = ref<Date>()
onMounted(() => {
  if (receiptStore.descriptReceipt?.receiptDate !== undefined)
    dateObject.value = convertStringToDateTime(receiptStore.descriptReceipt?.receiptDate)
})

function randomBirthdayGreetings() {
  const greetings = [
    'สุขสันต์วันเกิดครับ/ค่ะ!',
    'ขอให้วันเกิดของคุณเป็นวันที่สุขสำหรับคุณ!',
    'มีความสุขในวันเกิดนะครับ/ค่ะ!',
    'ขอให้คุณมีความสุขมากๆ ในวันเกิดนี้!',
    'วันเกิดของคุณเป็นวันที่ยิ่งใหญ่!',
    'ขอให้คุณได้รับความสุขมากมายในวันเกิด!',
    'วันเกิดของคุณเป็นวันที่ที่สำคัญมากสำหรับเรา!',
    'ขอให้คุณมีความสุขและสุขภาพดีในวันเกิด!',
    'สุขสันต์วันเกิด! ขอให้คุณมีความสุขมากๆ!',
    'วันเกิดของคุณน่าสนุกมาก!',
    'ขอให้คุณได้รับความสุขมากๆ ในวันพิเศษนี้!',
    'วันเกิดของคุณเป็นวันที่ที่คุณเกิดมาใหม่!',
    'สุขสันต์วันเกิด! ขอให้คุณมีความสุขและสมหวัง!',
    'วันเกิดของคุณเป็นวันที่มีความสุขมาก!',
    'ขอให้วันเกิดของคุณเป็นวันที่ที่ยิ่งใหญ่ที่สุด!',
    'สุขสันต์วันเกิดครับ/ค่ะ! ขอให้คุณมีปีที่ยิ่งใหญ่!',
    'วันเกิดของคุณน่าสนุกมาก!'
  ]

  const randomIndex = Math.floor(Math.random() * greetings.length)
  return greetings[randomIndex]
}

const print = () => {
  window.print()
}
</script>

<template>
  <v-dialog v-model="receiptStore.receiptDialog" persistent width="400">
    <v-card>
      <v-card-text>
        <v-row>
          <v-col cols="12" class="d-flex justify-center">
            <v-img src="../../../public/img/logo/logo-no-background.png" width="150" height="150">
            </v-img
          ></v-col>
          <v-col class="text-center"><v-card-title class="text-h5"> ใบเสร็จ </v-card-title></v-col>

          <v-col
            cols="12"
            v-if="receiptStore.descriptReceipt?.birthDay"
            class="d-flex justify-center"
            ><h4>
              <v-icon color="pink darken-2">mdi-cake</v-icon> สุขสันต์วันเกิด!!! คุณ
              {{ receiptStore.descriptReceipt?.customer?.name ?? '' }}
              <v-icon color="pink darken-2">mdi-cake</v-icon>
            </h4></v-col
          >

          <v-col cols="12">POS ID : 000001</v-col>
          <v-col cols="12">Queue : {{ receiptStore.descriptReceipt?.queue }}</v-col>
          <v-col cols="12">Branch : {{ receiptStore.descriptReceipt?.branch.name ?? '' }}</v-col>
          <v-col cols="12"
            >Employee : {{ receiptStore.descriptReceipt?.employee?.name ?? '' }}</v-col
          >
          <v-col cols="12"
            >Customer : {{ receiptStore.descriptReceipt?.customer?.name ?? '' }}</v-col
          >
          <v-col cols="12"
            >Promotion : {{ receiptStore.descriptReceipt?.promotion?.name ?? '' }}</v-col
          >

          <v-col cols="6"
            >Time : {{ receiptStore.descriptReceipt?.receiptDate.substring(0, 10) ?? '' }}
          </v-col>
          <v-col cols="6"
            >Date : {{ receiptStore.descriptReceipt?.receiptDate.substring(11, 20) ?? '' }}</v-col
          > </v-row
        ><v-divider></v-divider>
        <v-container>
          <v-table>
            <thead>
              <tr>
                <th>จำนวน</th>
                <th>รายการสินค้า</th>
                <th>ราคา</th>
                <th>ราคารวม</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="item of receiptStore.descriptReceipt?.receiptDetail"
                :key="item.receiptDetailId"
              >
                <td>{{ item.qty }}</td>
                <td v-if="item.productCategory === 'Drink'">
                  {{ item.productName }}
                  {{ item.productSubCategory }}
                  {{ item.productSweetLevel }}
                  {{
                    item.productSubCategory?.toString() === '1'
                      ? 'เย็น'
                      : item.productSubCategory?.toString() === '2'
                        ? 'ร้อน'
                        : item.productSubCategory?.toString() === '3'
                          ? 'ปั่น'
                          : ''
                  }}
                  {{
                    item.productSweetLevel?.toString() === '1'
                      ? '0 %'
                      : item.productSweetLevel?.toString() === '2'
                        ? '25 %'
                        : item.productSweetLevel?.toString() === '3'
                          ? '50 %'
                          : item.productSweetLevel?.toString() === '4'
                            ? '75 %'
                            : item.productSweetLevel?.toString() === '5'
                              ? '100 %'
                              : ''
                  }}
                </td>
                <td v-else>
                  {{ item.productName }}
                </td>
                <td>{{ item.price }}</td>
                <td>{{ item.price * item.qty }}</td>
              </tr>
            </tbody>
          </v-table>
          <v-divider></v-divider>
          <v-row>
            <v-col cols="6" class="text-h6"> ยอดรวม</v-col
            ><v-col cols="6" style="text-align: right; margin-right: px"
              >{{ receiptStore.descriptReceipt ? receiptStore.descriptReceipt.total : '' }}
            </v-col>
            <v-col cols="6"> ยอดก่อนหัก</v-col
            ><v-col cols="6" style="text-align: right; margin-right: px">
              {{ receiptStore.descriptReceipt ? receiptStore.descriptReceipt.totalBefore : '' }}
            </v-col>
            <v-col cols="6"> ส่วนลดสมาชิก</v-col
            ><v-col cols="6" style="text-align: right; margin-right: px"
              >{{ receiptStore.descriptReceipt ? receiptStore.descriptReceipt.discount : '' }}
            </v-col>
            <v-col cols="6"> แต้มสมาชิก</v-col
            ><v-col cols="6" style="text-align: right; margin-right: px"
              >{{
                receiptStore.descriptReceipt ? receiptStore.descriptReceipt.customerPointBefore : ''
              }}
            </v-col>

            <v-col cols="6">ได้รับแต้ม</v-col
            ><v-col
              v-if="
                receiptStore.descriptReceipt
                  ? receiptStore.descriptReceipt.customer !== undefined
                  : ''
              "
              cols="6"
              style="text-align: right; margin-right: px"
              >{{
                receiptStore.descriptReceipt ? receiptStore.descriptReceipt.getPoint : ''
              }}</v-col
            >
            <v-col
              cols="6"
              v-if="
                receiptStore.descriptReceipt
                  ? receiptStore.descriptReceipt.customer === undefined
                  : ''
              "
            ></v-col>
            <v-col cols="6"> จำนวนแต้มคงเหลือ</v-col
            ><v-col cols="6" style="text-align: right; margin-right: px">
              {{
                receiptStore.descriptReceipt?.customer?.point !== undefined
                  ? receiptStore.descriptReceipt?.customer?.point
                  : (receiptStore.descriptReceipt?.customerPointBefore ?? 0) +
                    (receiptStore.descriptReceipt?.getPoint ?? 0)
              }}
            </v-col>

            <v-col cols="6">
              ชำระ
              {{ receiptStore.descriptReceipt ? receiptStore.descriptReceipt.payment : '' }}</v-col
            ><v-col cols="6" style="text-align: right; margin-right: px"
              >{{ receiptStore.descriptReceipt ? receiptStore.descriptReceipt.receiveAmount : '' }}
            </v-col>
            <v-col cols="6"> เงินทอน</v-col
            ><v-col cols="6" style="text-align: right; margin-right: px">
              {{
                receiptStore.descriptReceipt?.receiveAmount !== undefined &&
                receiptStore.descriptReceipt?.total !== undefined
                  ? receiptStore.descriptReceipt.receiveAmount - receiptStore.descriptReceipt.total
                  : ''
              }}
            </v-col>
          </v-row>
          <v-divider></v-divider>
          <v-col
            cols="12"
            v-if="receiptStore.descriptReceipt?.birthDay"
            class="d-flex justify-center"
            ><h4>
              {{ randomBirthdayGreetings() }}
            </h4></v-col
          >
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="
            () => {
              ;(receiptStore.receiptDialog = false), print()
            }
          "
        >
          เสร็จสิ้น
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
