<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'
import type { ReceiptDetail } from '@/types/ReceiptDetail'

const receiptStore = useReceiptStore()

const dec = (qtyDecItem: ReceiptDetail) => {
  qtyDecItem.qty--
  if (qtyDecItem.qty === 0) {
    receiptStore.removeReceiptItem(qtyDecItem)
  }
  receiptStore.calculateTotalBefore()
}

const inc = (qtyDecItem: ReceiptDetail) => {
  qtyDecItem.qty++
  receiptStore.calculateTotalBefore()
}
</script>

<template>
  <v-table>
    <thead style="background-color: rgba(255, 174, 23, 0.788)">
      <tr>
        <th>#</th>
        <th>เมนู</th>
        <th>ประเภท</th>
        <th>ระดับความหวาน</th>
        <th>ราคา</th>
        <th>จำนวน</th>
        <th>ยอดรวม</th>
        <th></th>
      </tr>
    </thead>
    <tbody style="background-color: whitesmoke">
      <tr v-for="(item, index) of receiptStore.initialReceipt.receiptDetail" :key="item.receiptId">
        <td>{{ index + 1 }}</td>
        <td>{{ item.productName }}</td>

        <td>
          {{ item.productSubCategory }}
        </td>
        <td>
          {{ item.productSweetLevel }}
        </td>

        <td>{{ item.price }}</td>
        <td style="font-size: medium; width: 120px">
          <v-btn icon="mdi-minus" density="compact" @click="dec(item)"></v-btn>{{ item.qty }}
          <v-btn icon="mdi-plus" density="compact" @click="inc(item)"></v-btn>
        </td>
        <td>{{ item.qty * item.price }}</td>
        <!-- <td><v-btn icon="mdi-delete" density="compact"></v-btn></td> -->
        <td>
          <v-btn
            icon="mdi-delete"
            @click="receiptStore.removeReceiptItem(item)"
            density="compact"
          ></v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
