<script setup lang="ts">
import { ref } from 'vue'
import { useAuthStore } from '@/stores/auth'

const visible = ref(false)
const authStore = useAuthStore()
const loading = ref(false)
const email = ref('Peerada@gmail.com')
</script>

<template>
  <div>
    <v-card class="mx-auto pa-12 pb-8" elevation="8" max-width="448" rounded="lg">
      <div class="text-center" style="font-size: 24px">
        <v-icon>mdi-account-circle</v-icon><br />Forget Password
      </div>
      <br />
      <div class="text-subtitle-1 text-medium-emphasis">Email</div>
      <v-text-field v-model="email" density="compact" placeholder="Email address" prepend-inner-icon="mdi-email-outline"
        variant="outlined" :readonly="loading" :rules="[(v) => !!v || 'Field is required']"></v-text-field>

      <div class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between">
        Enter the username or email for your account so we can send you a link to reset your password.
      </div>

      <br />

      <v-btn block class="mb-8" color="orange" size="large" variant="elevated">
        <span class="text-white">Send Email</span>
      </v-btn>

    </v-card>
  </div>
</template>
