<script setup lang="ts">
import { ref } from 'vue'
import { useAuthStore } from '@/stores/auth'

const visible = ref(false)
const authStore = useAuthStore()
const loading = ref(false)
const email = ref('Peerada@gmail.com')
const password = ref('password')
</script>

<template>
  <div>
    <v-card class="mx-auto pa-12 pb-8" elevation="8" max-width="448" rounded="lg">
      <div class="text-center" style="font-size: 24px">
        <v-icon>mdi-account-circle</v-icon><br />LOGIN
      </div>
      <br />
      <div class="text-subtitle-1 text-medium-emphasis">Email</div>
      <v-text-field v-model="email" density="compact" placeholder="Email address" prepend-inner-icon="mdi-email-outline"
        variant="outlined" :readonly="loading" :rules="[(v) => !!v || 'Field is required']"></v-text-field>

      <v-text-field v-model="password" :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
        :type="visible ? 'text' : 'password'" density="compact" placeholder="Enter your password"
        prepend-inner-icon="mdi-lock-outline" variant="outlined" @click:append-inner="visible = !visible"
        :readonly="loading" :rules="[(v) => !!v || 'Field is required']"></v-text-field>
      <br />

      <v-btn block class="mb-8" color="orange" size="large" variant="elevated"
        @click="authStore.login(email, password)">
        <span class="text-white">Log In</span>
      </v-btn>
    </v-card>
  </div>
</template>
