<script lang="ts" setup>
import { computed, nextTick, onMounted, ref } from 'vue'
import type { Product } from '@/types/Product'
import { useProductStore } from '@/stores/product'
import { useLoadingStore } from '@/stores/loading'
import http from '@/services/http'
import productService from '@/services/product'
import type { VForm } from 'vuetify/components'
import dateSelect from '@/views/Product/YearMonthSelectView.vue'
import ProductDescDialog from '@/components/ProductDescDialog.vue'
const headers = [
  {
    title: 'No.',
    key: 'no',
    value: 'no'
  },
  {
    title: 'Product Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Photo',
    key: 'image'
  },
  {
    title: 'Price',
    key: 'price',
    value: 'price'
  },
  {
    title: 'Category',
    key: 'category',
    value: 'category'
  },
  {
    title: 'Qty',
    key: 'qty',
    value: 'qty'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]

// const loadingStore = useLoadingStore()
// let editedIndex = -1

const imageUrl = (item: string) => {
  return 'http://localhost:3000/product' + item.replace(/\\/g, '/')
}

const search = ref<string>('')
const productStore = useProductStore()
const dialog = ref(false)
const dialogDelete = ref(false)
const form = ref(false)
const loading = ref(false)
function onSubmit() { }
const refForm = ref<VForm | null>(null)
const Products = ref(productStore.getProducts)

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    productStore.clearForm()
  })
}
async function deleteItemConfirm() {
  // Delete item from list
  await productStore.deleteProduct()
  closeDelete()
}

async function editItem(item: Product) {
  // editedIndex = Products.value.indexOf(item)
  if (!item.productId) return
  productStore.editDialog = true
  await productStore.getProduct(item.productId)

  dialog.value = true
}
async function deleteItem(item: Product) {
  // editedIndex = Products.value.indexOf(item)
  if (!item.productId) return
  await productStore.getProduct(item.productId)
  dialogDelete.value = true
}

async function closeDialog() {
  dialog.value = false
  nextTick(() => {
    productStore.clearForm()
  })
  productStore.image = null
  const response = await productService.getProducts() // รอให้ Promise เสร็จสมบูรณ์
  products.value = response.data
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await productStore.saveProduct()
  closeDialog()
}

function addProduct() {
  dialog.value = true
}

function calenderDialog() {
  productStore.calenderDialog = true
}

function openpDescDialog() {
  productStore.pDescDialog = true
  console.log(productStore.pDescDialog)
}

// const productDatas = computed(()=>{
// const products = productStore.Products
// return [...products]})

let products = ref<Product[]>([]) // หรือใช้ any ก็ได้
onMounted(async () => {
  const response = await productService.getProducts() // รอให้ Promise เสร็จสมบูรณ์
  products.value = response.data
  console.log(products.value)
})
</script>
<template>
  <div>
    <v-data-table :headers="headers" :items="products" :search="search">
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Products</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>

          <!-- Search bar  -->
          <v-text-field style="background-color: #ffffff; max-width: 300px; margin: 10px" v-model="search"
            label="Search" prepend-inner-icon="mdi-magnify" single-line variant="outlined" hide-details>
          </v-text-field>
          <v-btn color="white" style="background-color: rgb(255, 182, 55)" @click="openpDescDialog">
            <v-icon left>mdi-clipboard-list-outline</v-icon>ลำดับสินค้าที่แพงที่สุด
          </v-btn>

          <v-btn color="white" style="background-color: rgb(255, 182, 55)" @click="calenderDialog">
            <v-icon left> mdi-finance</v-icon> ยอดขายสินค้า
          </v-btn>

          <v-btn color="white" style="background-color: rgb(255, 182, 55)" @click="addProduct">
            <v-icon left>mdi mdi-plus-box-multiple</v-icon> Add Product
          </v-btn>

          <!-- Put Edited Dialog -->
          <v-dialog v-model="dialog" persistent width="1024">
            <v-card>
              <v-card-title style="background-color: rgb(255, 188, 63)">
                <span class="text-h5"> Product </span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field v-model="productStore.editedProduct.name" :readonly="loading"
                          :rules="[(v: any) => !!v || 'Field is required']" class="mb-2" clearable
                          label="Product Name"></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field v-model="productStore.editedProduct.price" :readonly="loading"
                          :rules="[(v: any) => !!v || 'Field is required']" class="mb-2" clearable label="Price"
                          suffix="฿"></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-select v-model="productStore.editedProduct.category.name" :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']" :items="['Drink', 'Food', 'Dessert']"
                          label="Category"></v-select>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field v-model="productStore.editedProduct.qty" :readonly="loading" class="mb-2"
                          :disabled="productStore.editedProduct.category.name === 'Drink'" clearable
                          label="Quantity"></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-img v-if="!productStore.editDialog" :src="productStore.getImageUrl(productStore.image)"
                          width="200" height="200" style="border-radius: 15px; margin-left: 50px"></v-img>
                        <v-img v-else :src="'http://localhost:3000/images/products/' +
      productStore.editedProduct.image
      " width="200" height="200" style="border-radius: 15px; margin-left: 50px"></v-img>
                      </v-col>

                      <v-col cols="12" sm="12" md="4">
                        <input type="file" @change="productStore.onFileChange" accept=".jpg, .jpeg, .png " />
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <!-- <small>*indicates required field</small> -->
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
                <v-btn color="orange" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!-- Delete Dialog -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:[`item.no`]="{ index }">
        {{ index + 1 }}
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:[`item.category`]="{ item }">
        {{ item.category.name }}
      </template>
      <template v-slot:[`item.image`]="{ item }">
        <img :src="'http://localhost:3000/images/products/' + item.image" alt="Product Image" style="
            width: 120px;
            border-radius: 5px;
            margin-top: 5px;
            height: 120px;
            object-fit: cover;
          " />
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="productStore.getProducts"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
  <dateSelect></dateSelect>
  <ProductDescDialog></ProductDescDialog>
</template>
