<script lang="ts" setup>
import { onMounted, ref } from 'vue'
import { useProductStore } from '@/stores/product'

const headers = [
  {
    title: 'No.'
  },
  {
    title: 'Product'
  },
  {
    title: 'Unit Sale'
  },

  {
    title: 'Status'
  }
]

const productStore = useProductStore()

function closeDialog() {
  productStore.unitSaleDialog = false
}

onMounted(() => {
  productStore.getProductsForUnitSale()
})
</script>

<template>
  <div>
    <v-dialog v-model="productStore.unitSaleDialog" persistent width="1024">
      <v-data-table :headers="headers" :items="productStore.productsForUnitSale">
        <template v-slot:top>
          <v-toolbar flat style="background-color: whitesmoke">
            <v-toolbar-title>ยอดขายสินค้า</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
          </v-toolbar>
        </template>

        <template v-slot:item="{ item }">
          <tr>
            <td>{{ item.productId }}</td>
            <td>{{ item.name }}</td>
            <td>{{ '25,000' }}</td>
            <td>{{ 'Status' }}</td>
          </tr>
        </template>

        <template v-slot:no-data>
          <v-btn color="primary" @click="productStore.getProducts"> Reset </v-btn>
        </template>
      </v-data-table>
      <v-card>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
