<script lang="ts" setup>
import { useProductStore } from '@/stores/product'
import { ref } from 'vue'
import UnitSaleView from './UnitSaleView.vue'

const productStore = useProductStore()
const form = ref(false)
function onSubmit() {}
function closeDialog() {
  productStore.selectedMonth = ''
  productStore.selectedYear = ''
  productStore.calenderDialog = false
}
function save() {
  productStore.unitSaleDialog = true
  closeDialog()
}
</script>

<template>
  <!-- Dialog -->
  <v-dialog v-model="productStore.calenderDialog" persistent width="1024">
    <v-card>
      <v-card-title style="background-color: rgb(255, 188, 63)">
        <span class="text-h5">Please Select Year and Month</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
          <v-container>
            <!-- dialog -->
            <v-row>
              <v-col cols="15">
                <v-select
                  v-model="productStore.selectedMonth"
                  :items="productStore.months"
                  label="Month"
                  allow-overflow
                >
                </v-select>
              </v-col>

              <v-col cols="15">
                <v-select
                  v-model="productStore.selectedYear"
                  :items="productStore.years"
                  label="Year"
                  allow-overflow
                >
                </v-select>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*Indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
        <v-btn color="orange" variant="text" @click="save()"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <UnitSaleView></UnitSaleView>
</template>
