<script setup lang="ts">
import router from '@/router'
import { useAuthStore } from '@/stores/auth'
import { useLocateStore } from '@/stores/locate'
import { inject, ref, type Ref } from 'vue'

const drawer = inject<Ref<boolean>>('drawer')
const rail = inject<Ref<boolean>>('rail')

const locateStore = useLocateStore()
const authStore = useAuthStore()
const emit = defineEmits<{
  located: [string]
}>()

function clickLocate(title: string) {
  emit('located', title)
}
</script>

<template>
  <v-navigation-drawer v-model="drawer" :rail="rail" permanent @click="rail = false"
    style="background-color: whitesmoke">
    <v-list-item prepend-avatar="http://localhost:3000/images/logo/logo-no-background.png"
      :title="authStore.getCurrentUser()?.name">
    </v-list-item>
    <warning-dialog></warning-dialog>
    <v-divider></v-divider>

    <v-list density="compact" nav>
      <!-- Main Menu Items -->
      <v-list-item prepend-icon="mdi-menu" title="Main Menu" value="mainmenu" :to="{ name: 'mainmenu' }"></v-list-item>
      <v-list-item prepend-icon="mdi-point-of-sale" title="Point Of Sale" value="pos"
        :to="{ name: 'pos' }"></v-list-item>
      <v-list-item prepend-icon="mdi-history" title="Receipt History" value="receipthistory"
        :to="{ path: 'receipthistory' }"></v-list-item>


      <v-list-group value="Check Stock Management" no-action>
        <template v-slot:activator="{ props }">
          <v-list-item v-bind="props" prepend-icon="mdi-clipboard-edit" title="Check Stock Management"></v-list-item>
        </template>
        <v-list-item prepend-icon="mdi-package" title="Check Stock" value="checkstock"
          :to="{ path: 'checkstock' }"></v-list-item>
        <v-list-item prepend-icon="mdi-truck-delivery" title="Import Material" value="importmaterial"
          :to="{ path: 'importmaterial' }"></v-list-item>
        <v-list-item prepend-icon="mdi-store" title="Branch Stock" value="branchstock"
          :to="{ path: 'branchstock' }"></v-list-item>
      </v-list-group>
      <v-list-group value="Manager Management" no-action>
        <template v-slot:activator="{ props }">
          <v-list-item v-bind="props" prepend-icon="mdi-account-tie" title="Manager Management"></v-list-item>
        </template>

        <v-list-item prepend-icon="mdi-package" title="Material" value="material"
          :to="{ name: 'material' }"></v-list-item>
        <v-list-item prepend-icon="mdi-food" title="Product" value="product" :to="{ name: 'product' }"></v-list-item>
        <v-list-item prepend-icon="mdi-sale" title="Promotion" value="promotion"
          :to="{ path: 'promotion' }"></v-list-item>
        <v-list-item prepend-icon="mdi-account-group" title="Customer" value="customer"
          :to="{ name: 'customer' }"></v-list-item>
      </v-list-group>

      <v-list-item prepend-icon="mdi-clock-check" title="Check In / Check Out" value="checkinout"
        :to="{ name: 'checkinout' }"></v-list-item>
      <!-- Logout -->
      <v-list-item prepend-icon="mdi-login" title="Logout" value="logout" style="position: fixed; bottom: 0"
        @click="clickLocate('Logout'), authStore.logout()">
      </v-list-item>
      <v-list-item prepend-icon="mdi-clipboard-text-clock-outline" title="Payment Slip History" value="sliphistory"
          :to="{ path: 'sliphistory' }"></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<style></style>
