<script setup lang="ts">
import { onMounted, ref } from 'vue'
import customerService from '@/services/customer'
import { useCustomerStore } from '@/stores/customer'

const customerStore = useCustomerStore()

type Cuschk = {
  RowId: number
  Name: string
  total: number
  ItemDetail: number
}

const cusChk = ref<Cuschk[]>([])

const closeCusDialog = () => {
  customerStore.cusDialog = false
}

onMounted(async () => {
  const res = await customerService.getCustomersTotalBuy()
  console.log(res.data)
  cusChk.value = res.data[0]
  console.log(cusChk.value)
})
</script>

<template>
  <v-dialog v-model="customerStore.cusDialog" persistent width="auto">
    <v-btn class="font-weight-bold" color="orange" @click="console.log(cusChk)">จำนวนใบเสร็จของลูกค้า</v-btn>
    <v-card>
      <v-simple-table>
        <template #default>
          <thead>
            <tr>
              <th class="text-left" style="width: 100px; border-bottom: 0.1px solid #ccc ;">No.</th>
              <th class="text-left" style="width: 100px; border-bottom: 0.1px solid #ccc ;">Name</th>
              <th class="text-left" style="width: 100px; border-bottom: 0.1px solid #ccc ;">Total</th>
              <th class="text-left" style="width: 100px; border-bottom: 0.1px solid #ccc ;">ItemDetail</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in cusChk" :key="item.RowId">
              <td style="width: 100px; border-bottom: 0.1px solid #ccc ;">{{ index + 1 }}</td>
              <td style="width: 100px; border-bottom: 0.1px solid #ccc ;">{{ item.Name }}</td>
              <td style="width: 100px; border-bottom: 0.1px solid #ccc ;">{{ item.total }}</td>
              <td style="width: 100px; border-bottom: 0.1px solid #ccc ;">{{ item.ItemDetail }}</td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="closeCusDialog">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
