<template>
  <v-dialog v-model="productStore.pDescDialog" persistent width="auto">
    <v-btn class="font-weight-bold" color="orange" @click="console.log(productD)">ลำดับสินค้า</v-btn>
    <v-card>
      <v-simple-table >
        <template #default>
          <thead>
            <tr >
              <th class="text-left" style="border-bottom: 0.1px solid #ccc ;">No.</th>
              <th class="text-left" style="border-bottom: 0.1px solid #ccc ;">Id</th>
              <th class="text-left" style="border-bottom: 0.1px solid #ccc ;">ProductName</th>
              <th class="text-left" style="border-bottom: 0.1px solid #ccc ;">Price</th>
              <th class="text-left" style="border-bottom: 0.1px solid #ccc ;">CategoryId</th>
              <th class="text-left" style="border-bottom: 0.1px solid #ccc ;">Category</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item,index) in productD" :key="item.productId" >
              <td style="width: 100px; border-bottom: 0.1px solid #ccc ;">{{ index + 1 }}</td>
              <td style="width: 100px; border-bottom: 0.1px solid #ccc ;">{{ item.productId }}</td>
              <td style="width: 300px; border-bottom: 0.1px solid #ccc;">{{ item.name }}</td>
              <td style="width: 100px; border-bottom: 0.1px solid #ccc;">{{ item.price }}</td>
              <td style="width: 100px; border-bottom: 0.1px solid #ccc;">{{ item.categoryProductcategoryId }}</td>
              <td style="width: 100px; border-bottom: 0.1px solid #ccc;">{{ item.category }}</td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text="Close" variant="text" @click="closepDescDialog()"></v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import productService from '@/services/product'
import { onMounted, ref } from 'vue'
import { useProductStore } from '@/stores/product'

function closepDescDialog() {
  productStore.pDescDialog = false
}
const productD = ref<productDesc[]>([])
const productStore = useProductStore()
type productDesc = {
  productId: number
  name: string
  price: number
  categoryProductcategoryId: number
  category: string
}
onMounted(async () => {
  const res = await productService.descProducts()
  productD.value = res.data
})
</script>

