<script lang="ts" setup>
import type { Customer } from '@/types/Customer'
import { useCustomerStore } from '@/stores/customer'
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'

const customerStore = useCustomerStore()
const form = ref(false)
const loading = ref(false)
let editedIndex = -1
let lastId = customerStore.customers.length
function onSubmit() {}
const refForm = ref<VForm | null>(null)
function closeDialog() {
  customerStore.customerDialog = false
  nextTick(() => {
    customerStore.clearForm()
  })
}

async function save() {
  // const { valid } = await refForm.value!.validate()
  // if (!valid) return
  // await customerStore.saveCustomer()
  customerStore.saveCustomer()
  closeDialog()
}
</script>
<template>
  <v-dialog width="1024" v-model="customerStore.customerDialog" persistent>
    <v-card>
      <v-card-title style="background-color: rgb(255, 188, 63)">
        <span class="text-h5">Customer</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
          <v-container>
            <v-row>
              <v-col cols="12" sm="12" md="6">
                <v-text-field
                  v-model="customerStore.editedCustomer.name"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Name"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="6">
                <v-text-field
                  v-model="customerStore.editedCustomer.phone"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Phone"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="6">
                <v-text-field
                  v-model="customerStore.editedCustomer.birthDate"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="BirthDate"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="6">
                <v-text-field
                  v-model="customerStore.editedCustomer.point"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Point"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*Indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
        <v-btn color="orange" variant="text" @click="save()"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
