<script lang="ts" setup>
import type { Customer } from '@/types/Customer'
import { useCustomerStore } from '@/stores/customer'
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import CustomerDialog from './CustomerDialog.vue'
import MemberTotalDialog from '@/components/MemberTotalDialog.vue'
// id: number
// name: string
// phone: string
// birthDate: string
// point: number

const headers = [
  {
    title: 'Customer Id',
    key: 'customerId',
    value: 'customerId'
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Phone',
    key: 'phone',
    value: 'phone'
  },
  {
    title: 'BirthDate',
    key: 'birthDate',
    value: 'birthDate'
  },
  {
    title: 'Point',
    key: 'point',
    value: 'point'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const loading = ref(false)
const dialogDelete = ref(false)

// const initilCustomer: Customer = {
//     customerId: -1,
//     name: '',
//     phone: '',
//     birthDate: '',
//     point: 0

// }
// const editedCustomer = ref<Customer>(JSON.parse(JSON.stringify(initilCustomer)))

const customerStore = useCustomerStore()
const customer = ref(customerStore.customers)
let editedIndex = -1

let lastId = customerStore.customers.length + 1
function onSubmit() { }

function closeDelete() {
  dialogDelete.value = false
  // nextTick(() => {
  //     editedCustomer.value = Object.assign({}, initilCustomer)
  // })
}
function deleteItemConfirm() {
  // Delete item from list
  customerStore.deleteCustomer()
  closeDelete()
}
onMounted(() => {
  customerStore.editedCustomer = Object.assign({}, customerStore.initialCustomer)
})
function editItem(item: Customer) {
  editedIndex = customer.value.indexOf(item)
  customerStore.editedCustomer = Object.assign({}, item)
  customerStore.customerDialog = true
}

function deleteItem(item: Customer) {
  editedIndex = customer.value.indexOf(item)
  customerStore.editedCustomer = Object.assign({}, item)
  dialogDelete.value = true
}
function closeDialog() {
  customerStore.customerDialog = true
  nextTick(() => {
    customerStore.editedCustomer = Object.assign({}, customerStore.initialCustomer)
    editedIndex = -1
  })
}

async function save() {
  customerStore.saveCustomer()
  closeDialog()
}

function addCustomer() {
  const cleanCus = ref<Customer>({
    customerId: -1,
    name: '',
    phone: '',
    birthDate: '',
    point: 0
  })
  customerStore.editedCustomer = cleanCus.value
  customerStore.customerDialog = true
}

function openCusDialog() {
  customerStore.cusDialog = true
  console.log(customerStore.cusDialog)
}

onMounted(() => {
  initial()
})

const initial = () => {
  customerStore.getCustomers()
}
</script>

<template>
  <div>
    <v-data-table :headers="headers" :items="customerStore.customers">
      <template v-slot:top>
        <v-toolbar flat style="background-color: whitesmoke">
          <v-toolbar-title>Customer Management</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-btn color="white" style="background-color: rgb(255, 182, 55)" @click="openCusDialog()">
            <v-icon left>mdi-percent</v-icon>จำนวนใบเสร็จของลูกค้า
          </v-btn>

          <v-btn color="white" style="background-color: rgb(255, 182, 55)" @click="addCustomer">
            <v-icon left>mdi-account-plus</v-icon> New Customer
          </v-btn>
          <!-- Delete Dialog -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="orange" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="orange" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.no`]="{ index }">
        {{ index + 1 }}
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initial"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
  <CustomerDialog></CustomerDialog>
  <MemberTotalDialog></MemberTotalDialog>
</template>
