<script setup lang="ts">
import material from '@/services/material'
import { useBranchStore } from '@/stores/branch'
import { useBranchStockStore } from '@/stores/branchStock'
import { useEmployeeStore } from '@/stores/employee'
import { useMaterialStore } from '@/stores/material'
import type { Branch } from '@/types/Branch'
import { nextTick, onMounted, ref, watch } from 'vue'
import type { BranchStock } from '@/types/BranchStock'
import type { VForm } from 'vuetify/components'
import { useSelectBranchStore } from '@/stores/selectBranch'
import branchStockService from '@/services/branchStock'

const headers = [
  {
    title: 'BranchStock_ID',
    key: 'branchStockId',
    value: 'branchStockId'
  },
  {
    title: 'Branch',
    key: 'branch',
    value: 'branch'
  },
  {
    title: 'Material',
    key: 'material',
    value: 'material'
  },
  {
    title: 'Qty',
    key: 'qty',
    value: 'qty'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]
const branchstockStore = useBranchStockStore()
const branchStore = useBranchStore()
const materialStore = useMaterialStore()
const selectBranchStore = useSelectBranchStore()
const branchStocks = ref<BranchStock[]>([])
const brName = ref('All')
const instanceBranchStock = ref<BranchStock[]>([])
const allBs = ref<BranchStock[]>([])
const filterBs = ref<BranchStock[]>([])

let editedIndex = -1
const branchStock = ref(branchstockStore.branchStocks)
const refForm = ref<VForm | null>(null)
const branches = ref<Branch[]>([])
const form = ref(false)
const dialogDelete = ref(false)
function onSubmit() {}
function closeDelete() {
  dialogDelete.value = false
}
function closeDialog() {
  branchstockStore.branchstockDialog = false
  if (branchstockStore.selectedBranch) {
    delete branchstockStore.selectedBranch
  }
  if (branchstockStore.selectedMaterial) {
    delete branchstockStore.selectedMaterial
  }
  nextTick(() => {
    branchstockStore.clearForm()
  })
}
// async function editItem(item: BranchStock) {
//   const res = ref()
//   if (!item.branchStockId) return
//   res.value = await branchStockService.getBranchStock(item.branchStockId)

//   branchstockStore.editedBranchStock = res.value.data
//   // branchstockStore.bsEditId = branchstockStore.editedBranchStock.branchStockId ?? -1
//   branchstockStore.branchName = branchstockStore.editedBranchStock.branch.name
//   branchstockStore.materialName = branchstockStore.editedBranchStock.material.name
//   branchstockStore.qty = branchstockStore.editedBranchStock.qty

//   branchstockStore.branchstockDialog = true
//   branchStockService.getBranchStocks()
// }

function editItem(item: BranchStock) {
  editedIndex = branchStock.value.indexOf(item)
  branchstockStore.editedBranchStock = Object.assign({}, item)
  branchstockStore.branchstockDialog = true
}

function deleteItem(item: BranchStock) {
  editedIndex = branchStock.value.indexOf(item)
  branchstockStore.editedBranchStock = Object.assign({}, item)
  dialogDelete.value = true
}

function deleteItemConfirm() {
  branchstockStore.deleteBranchStock()
  closeDelete()
  location.reload()
}

function addBranchStock() {
  branchstockStore.editedBranchStock = Object.assign({}, branchstockStore.initialBranchStock)
  branchstockStore.branchstockDialog = true
}

async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await branchstockStore.saveBranchStock()
  closeDialog()
  location.reload()
}
onMounted(async () => {
  branchstockStore.getBranchStocks()
  materialStore.getMaterials()
  branchStore.getBranches()
  const res = await branchStockService.getBranchStocks()
  branchStocks.value = res.data
  allBs.value = branchStocks.value
  instanceBranchStock.value = branchStocks.value
  filterBs.value = branchStocks.value
})

const getBranchReceipt = () => {
  branchStocks.value = instanceBranchStock.value.filter((item) => item.branch.name === brName.value)
  filterBs.value = branchStocks.value
  console.log(filterBs)
}

watch(brName, (newVal) => {
  if (newVal !== 'All') {
    getBranchReceipt()
  }else{
    branchStocks.value = instanceBranchStock.value
  }
  
})

</script>
<template>
  <div>
    <v-data-table :headers="headers" :items="branchStocks">
      <template v-slot:top>
        <v-toolbar flat style="background-color: whitesmoke">
          <v-toolbar-title>Branch Stock Management</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-col cols="2">
            <v-card-text style="margin-top: 15px">
              <v-select
                v-model="brName"
                density="comfortable"
                variant="solo-filled"
                label="Select Branch"
                :items="['All', ...branchStore.branches.map((item) => item.name)]"
                allow-overflow
              >
              </v-select>
            </v-card-text>
          </v-col>
          <!-- Put Edited Dialog -->
          <v-dialog v-model="branchstockStore.branchstockDialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn
                color="white"
                style="background-color: rgb(255, 182, 55)"
                v-bind="props"
                @click="addBranchStock()"
              >
                <v-icon left>mdi-store-plus</v-icon> Add Branch Stock
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">Branch Stock</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="6">
                        <v-select
                          v-model="branchstockStore.selectedBranch"
                          :items="branchStore.branches.map((branch) => branch.name)"
                          label="Branch"
                          allow-overflow
                        >
                        </v-select>
                      </v-col>
                      <v-col cols="6">
                        <v-select
                          v-model="branchstockStore.selectedMaterial"
                          :items="materialStore.Materials.map((material) => material.name)"
                          label="Material"
                          allow-overflow
                        >
                        </v-select>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>*Indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" variant="text" @click="closeDialog()"> Close </v-btn>
                <v-btn color="primary" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- Delete Dialog -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" variant="text" @click="closeDelete()">Cancel</v-btn>
                <v-btn color="primary" variant="text" @click="deleteItemConfirm()">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:item="{ item, index }">
        <tr>
          <td>{{ index + 1 }}</td>
          <td>{{ item.branch.name }}</td>
          <td>{{ item.material.name }}</td>
          <td>{{ item.qty }}</td>
          <td><v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon></td>
        </tr>
      </template>

      <template v-slot:no-data>
        <v-btn color="primary" @click="onMounted"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
</template>
