<script setup lang="ts">
import { ref, provide, computed } from 'vue'
import { RouterLink, RouterView, useRoute } from 'vue-router'
import MainAppBar from './components/MainAppBar.vue'
import MainMenu from './components/MainMenu.vue'
import MainFooter from './components/MainFooter.vue'
import { watch } from 'vue'
import { useLocateStore } from './stores/locate'
import LoadingDialog from './components/LoadingDialog.vue'
import { useAuthStore } from './stores/auth'
import FullLayout from './layouts/FullLayout.vue'
import MainLayout from './layouts/MainLayout.vue'
const authStore = useAuthStore()
const rail = ref(true)
const drawer = ref(true)
const route = useRoute()
provide('rail', rail)
provide('drawer', drawer)

const locateStore = useLocateStore()
</script>

<template>
  <FullLayout v-if="route.meta.layout === 'FullLayout'"></FullLayout>
  <MainLayout v-if="route.meta.layout === 'MainLayout'"></MainLayout>
  <LoadingDialog></LoadingDialog>
</template>

<style scoped>
.v-layout {
  background-image: url('./assets/shop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
</style>
./stores/locate
