<template>
  <v-layout class="rounded rounded-md;">
    <!-- style="background-color: gainsboro" -->
    <v-main class="align-center justify-center" style="min-height: 1000px">
      <div class="pa-6">
        <RouterView></RouterView>
      </div>
    </v-main>

    <!-- <v-container>
            <MainFooter :style="footerStyles" id="main-footer"></MainFooter>
          </v-container> -->
  </v-layout>
</template>
