<script setup lang="ts">
import { useLocateStore } from '@/stores/locate'
import MainAppBar from '@/components/MainAppBar.vue'
import MainMenu from '@/components/MainMenu.vue'
import { useAuthStore } from '@/stores/auth';
import MainMenuForEmp from '@/components/MainMenuForEmp.vue';


const authStore = useAuthStore()
const locateStore = useLocateStore()
</script>

<template>
  <v-layout class="rounded rounded-md;">
    <!-- style="background-color: gainsboro" -->
    <MainAppBar :located="locateStore.appBarLocate"></MainAppBar>
    <MainMenu v-if="authStore.getCurrentUser()?.roles[0].roleId !== 3"></MainMenu>
    <MainMenuForEmp v-if="authStore.getCurrentUser()?.roles[0].roleId === 3"></MainMenuForEmp>
    <v-main class="align-center justify-center" style="min-height: 1000px">
      <div class="pa-6">
        <RouterView></RouterView>
      </div>
    </v-main>

    <!-- <v-container>
            <MainFooter :style="footerStyles" id="main-footer"></MainFooter>
          </v-container> -->
  </v-layout>
</template>
