<script lang="ts" setup>
import { useAuthStore } from '@/stores/auth'
import { useCheckInOutStore } from '@/stores/checkInOut'
import type { Employee } from '@/types/Employee'
import type { CheckInOut } from '@/types/CheckInOut'
import { onMounted, onUnmounted, reactive, watch, watchEffect } from 'vue'
import { computed, ref } from 'vue'
import { useEmployeeStore } from '@/stores/employee'
import checkinoutService from '@/services/checkInOut'
import type { Branch } from '@/types/Branch'
import branchService from '@/services/branch'

const headers = [
  {
    title: 'No.'
  },
  {
    title: 'User'
  },
  {
    title: 'Check In'
  },
  {
    title: 'Check Out'
  },
  {
    title: 'Total'
  },
  {
    title: 'Status'
  }
]

const authStore = useAuthStore()
const checkInOutStore = useCheckInOutStore()

const checkIn = async (auth: Employee) => {
  await checkInOutStore.checkIn(auth)
  checkInS.value = true
  console.log('ckin')
  localStorage.setItem('checkInS', 'true') // เก็บค่า checkInS ลงใน localStorage
}

const checkOut = (auth: Employee) => {
  checkInOutStore.checkOut(auth)
  checkInS.value = false
  localStorage.setItem('checkInS', 'false') // เก็บค่า checkInS ลงใน localStorage
}

const checkInS = ref(localStorage.getItem('checkInS') === 'true') // ดึงค่า checkInS จาก localStorage เพื่อกำหนดค่าเริ่มต้น

onMounted(async () => {
  checkInOutStore.getCheckInOuts()
  currentEmp.value = await authStore.getCurrentUser()
  const res = await checkinoutService.getAll()
  ck.value = res.data
  if (authStore.getCurrentUser().roles[0].name === 'Employee') {
    ck.value = ck.value.filter((item) => item.employee?.name === authStore.getCurrentUser().name)
  }
})

function convertToTimeString(timeWork: number): string {
  const hours = Math.floor(timeWork)
  const minutes = Math.floor((timeWork % 1) * 60)
  return `${hours} ชั่วโมง ${minutes} นาที `
}

const employeeStore = useEmployeeStore()
const empName = (empId: number) => {
  const employeeIndex = employeeStore.employees.findIndex((item) => item.employeeId === empId)
  const emp = employeeStore.employees[employeeIndex]
  return emp ? emp.name : '' // Add a null check in case emp is not found
}

const statusMessages: { [key: number]: string } = {
  0: 'ไม่ทราบสถานะ',
  1: 'มา',
  2: 'มาสาย',
  3: 'กลับก่อน',
  4: 'ลา',
  5: 'มาสาย-กลับก่อน',
  6: 'ไม่เต็มเวลา'
}

const getStatusMessage = (statusCode: number): string => {
  return statusMessages[statusCode] || 'ไม่ทราบสถานะ' // ใส่ข้อความเริ่มต้นเมื่อไม่มีสถานะที่ระบุ
}
const currentEmp = ref<Employee>()

const sortedCheckInOut = computed(() => {
  // ดึงข้อมูล checkinout จาก store
  const checkInOut = checkInOutStore.checkinout.filter(
    (item) => item.employee?.name === currentEmp.value?.name
  )

  // เรียงลำดับข้อมูลใหม่สุดอยู่บนสุด

  return [...checkInOut].reverse()
})

const ck = ref<CheckInOut[]>([])

const month = ref('')
const monthNumber = ref('')
const year = ref('')
const brName = ref('')

watch(year, (newVal) => {
  if (newVal !== '') {
    ck.value = ck.value.filter((item) => item.checkIn.substring(6, 10) === year.value)
  }
})

watch(month, (newVal) => {
  if (newVal !== '') {
    switch (newVal) {
      case 'January':
        monthNumber.value = '01'
        break
      case 'February':
        monthNumber.value = '02'
        break
      case 'March':
        monthNumber.value = '03'
        break
      case 'April':
        monthNumber.value = '04'
        break
      case 'May':
        monthNumber.value = '05'
        break
      case 'June':
        monthNumber.value = '06'
        break
      case 'July':
        monthNumber.value = '07'
        break
      case 'August':
        monthNumber.value = '08'
        break
      case 'September':
        monthNumber.value = '09'
        break
      case 'October':
        monthNumber.value = '10'
        break
      case 'November':
        monthNumber.value = '11'
        break
      case 'December':
        monthNumber.value = '12'
        break
    }
  }
  ck.value = ck.value.filter(
    (item) => item.checkIn.substring(3, 10) === monthNumber.value + '/' + year.value
  )
})
</script>
<template>
  <div>
    <v-data-table :headers="headers" :items="ck" show-expand>
      <template v-slot:top>
        <v-toolbar flat style="background-color: whitesmoke">
          <v-toolbar-title>Check In/Out Management</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-col cols="2">
            <v-card-text style="margin-top: 15px">
              <v-select
                density="comfortable"
                label="Month"
                v-model="month"
                v-if="year !== ''"
                allow-overflow
                :items="[
                  'January',
                  'February',
                  'March',
                  'April',
                  'May',
                  'June',
                  'July',
                  'August',
                  'September',
                  'October',
                  'November',
                  'December'
                ]"
              >
              </v-select>
            </v-card-text>
          </v-col>
          <v-col cols="2">
            <v-card-text style="margin-top: 15px">
              <v-select
                density="comfortable"
                label="Year"
                v-model="year"
                allow-overflow
                :items="['2024', '2023', '2022', '2021', '2020']"
              >
              </v-select>
            </v-card-text>
          </v-col>

          <v-btn
            color="black"
            style="background-color: rgb(55, 255, 72); width: 150px"
            :disabled="checkInS"
            @click="checkIn(authStore.getCurrentUser())"
          >
            <v-icon left>mdi-clock-plus</v-icon>CheckIn</v-btn
          >
          <v-btn
            color="black"
            style="background-color: rgb(255, 103, 103); width: 150px"
            @click="checkOut(authStore.getCurrentUser())"
          >
            <v-icon left>mdi-clock-minus</v-icon>CheckOut</v-btn
          >
        </v-toolbar>
      </template>

      <template v-slot:item="{ item, index }">
        <tr>
          <td>{{ index + 1 }}</td>
          <td>{{ item.employee?.name }}</td>
          <td>{{ item.checkIn }}</td>
          <td>{{ item.checkOut }}</td>
          <!-- <td>{{ item.timeWork }}</td> -->
          <td>{{ convertToTimeString(item.timeWork || 0) }}</td>
          <td>{{ getStatusMessage(item.status || 0) }}</td>
        </tr>
      </template>

      <template v-slot:no-data>
        <v-btn color="primary"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
</template>
